@import "bootstrap3-less/bootstrap.import.less";
@import "views/components/mixins.lessimport";

@font-face {
  font-family: 'copper';
  src: url('/fonts/i9zgeenp_0.eot');
  src: url('/fonts/i9zgeenp_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/i9zgeenp_0.woff') format('woff'),
  url('/fonts/i9zgeenp_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ekaterina';
  src: url('/fonts/ekaterina_velikaya_two.eot');
  src: url('/fonts/ekaterina_velikaya_two.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ekaterina_velikaya_two.woff') format('woff'),
  url('/fonts/ekaterina_velikaya_two.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'segoe';
  src: url('/fonts/segoeuil.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}



//Variables
@font-family-serif: copper;
@font-family-sans-serif: Helvetica Neue, Helvetica, sans-serif;
@font-family-script: ekaterina;

@gray-darker: #323232;
@gray-lighter: #dddddd;
@gray-light: #999;
@gray: #5f5f5f;
@brand-primary: #8d3636;
@brand-success: #7eff5f;




//Typography

*{
  outline: none !important;
}

h1, h2, h3{
  font-family: @font-family-serif;
  text-align: center;
  @media screen and (max-width: @screen-xs-max) {
    font-size: 4vw !important;
  }
}

h2{
  font-size: 24px;
  color: @gray-darker;
  text-transform: uppercase;
  margin-bottom: 37px;
  @media screen and (max-width: @screen-xs-max) {
    font-size: 4vw !important;
  }
}

html, body{
  width: 100%;
}

body{
  font-family: @font-family-sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;

}

a{
  cursor: pointer;
}

p{
  font-size: 18px;
  font-weight: 200;
  @media screen and (max-width: @screen-xs-max) {
    font-size: 4vw;
  }
  &.quot{
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
  }
}
*{
  -webkit-font-smoothing: antialiased;
}

*[data-aura-html], *[data-aura-with-html], *[data-aura-with-html]{
  p, li{
    @media screen and (max-width: @screen-xs-max) {
      padding: 1vw 3vw;
      font-size: 4vw !important;
    }
  }
}

#vk_share_button{
  font-size: 16px;
}

button{
  border: 0;
  .rounded(0);
  background: transparent;
  &.lead{
    color: @gray-darker;
    border: 1px solid @gray-darker;
    font-family: @font-family-serif;
    padding: 7px 15px;
    text-transform: uppercase;
    @media screen and (max-width: @screen-xs-max) {
      margin: 12vw auto !important;
      font-size: 4vw !important;
      padding: 5vw 10vw !important;
      width: 80% !important;
    }
  }
}

.share{
  position: relative;
  >div{
    display: inline-block;
    margin: 0px 10px;
    vertical-align: top;
  }
}

a{
  color: @gray-darker;
  font-weight: 200;
  font-size: 18px;
  &:hover{
    color: @brand-primary;
  }
  &.red{
    color: @brand-primary;
    &:hover{
      color: @gray-darker;
    }
  }
}
hr{
  border: 0;
  height: 24px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 85% auto;
  background-position: center center;
  background-image: url(/img/hr.jpg);
  opacity: .8;
  margin: 30px 0 60px 0;
  @media screen and (max-width: @screen-xs-max) {
    margin: 7vw 0 12vw 0;
  }
}

.container{
  position: relative;
}

.online-link{
  margin-top: 7px;
  display: block;
  //border: 1px solid @brand-primary;
  text-align: right;
  color: @brand-primary;
  font-family: copper;
  font-size: 14px;
  //padding: 5px;
  text-decoration: none;
  border: 1px solid;
  text-align: center;
  padding: 5px;
}


//Main

.side-menu{
  position: fixed;
  width: 70vw;
  .translate(-70vw, 0);
  height: 100%;
  padding-top: 10vw;
  background: black;
  h3{
    text-align: center;
    color: white;
    margin: 0;
    margin-bottom: 10vw;
  }
  &._shifted{
    .translate(0, 0);
  }
  .transition(.4s);
  nav{
    >ul{
      list-style: none;
      padding-left: 5vw;
      >li{
        a{
          color: white;
          font-size: 13px;
        }
        >ul{
          li{
            font-size: 13px;
          }
        }
      }
    }
  }

}

#open-menu{
  position: absolute;
  top: 6vw;
  left: 3vw;
  font-size: 20px;
  @media screen and (max-width: @screen-xs-max) {
    font-size: 6vw;
  }
}

.wrap{
  position: relative;
  .transition(4s);
  &._shifted{
    .translate(70vw, 0);
  }
}

#main-logo{
  img{
    width: 410px;
    margin-bottom: 5px;
    text-align: center;
    @media screen and (max-width: @screen-sm-max) {
      width: 70%;
    }
  }
}

header{

  &.main{

    position: relative;
    height: 253px;
    width: 100%;
    text-align: center;
    @media screen and (max-width: @screen-sm-max) {
      height: 38vw;
    }

    .social, .contacts-top{
      position: absolute;
      height: 100px;
      top: 20px;
    }

    .contacts-top{
      right: 0;
      text-align: right;
      top: 25px;
      span{
        font-size: 26px;
        display: block;
        font-weight: 200;
        &:nth-child(1){
          font-weight: 500;
        }
        &:nth-child(2){
          font-size: 20px;
          letter-spacing: 2px;
        }
      }
    }

    nav{
      >ul{
        list-style: none;
        margin: 0;
        padding: 0;
        >li{
          position: relative;
          display: inline-block;
          margin: 20px 15px;
          >a{
            font-size: 13px;
          }
          &:hover{
            >ul{
              visibility: visible;
              opacity: 1;
            }
          }
          >ul{
            position: absolute;
            top: 25px;
            left: -15px;
            width: 200px;
            list-style: none;
            padding: 5px 0;
            .box-shadow(0 0 3px rgba(0, 0, 0, .3));
            margin: 0;
            visibility: hidden;
            opacity: 0;
            .transition(.4s);
            z-index: @zindex-dropdown;
            background: rgba(255, 255, 255, .85);
            .rounded(3px);
            li{
              text-align: left;
              padding: 5px 5px 5px 15px;
              a{
                font-size: 15px;
              }
            }
          }
        }

      }
      span{
        color: #ccc;
      }
    }

  }

  &.inner{

    height: 75px;

    .online-link{
      position: absolute;
      right: 200px;
      top: 15px;
      font-size: 12px;
    }

    @media screen and (max-width: @screen-sm-max) {
      height: 25vw;
      text-align: center;
      #main-logo{
        img{
          width: 50% !important;
        }
      }
    }

    .logo{
      >img{
        margin-top: 10px;
        width: 340px
      }
    }

    .social{
      position: absolute;
      right: 15px;
      left: auto;
      top: 10px;
    }

    .phone{
      position: absolute;
      right: 22px;
      top: 47px;
      font-weight: 400;
      font-size: 15px;
    }

  }

}


.main-loader{

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  text-align: center;
  font-size: 50px;
  color: #000;
  z-index: 9997;
}


.fixed-nav-cont{
  position: relative;
  width: 100%;
  height: 50px;
  top: -10px;
  .fixed-nav{
    position: absolute;
    left: 0;
    width: 100%;
    background: white;
    text-align: center;
    height: 60px;
    line-height: 60px;
    z-index: @zindex-navbar-fixed;
    .transition(.4s);
    a{
      font-size: 13px;
    }
    >ul{
      list-style: none;
      margin: 0;
      padding: 0;
      >li{
        position: relative;
        display: inline-block;
        margin: 0 20px;
        &:hover{
          >ul{
            visibility: visible;
            opacity: 1;
          }
        }
        >ul{
          position: absolute;
          width: 200px;
          list-style: none;
          padding: 5px 0;
          .box-shadow(0 0 3px rgba(0, 0, 0, .3));
          margin: 0;
          left: -20px;
          visibility: hidden;
          opacity: 0;
          .transition(.4s);
          z-index: @zindex-dropdown;
          background: rgba(255, 255, 255, .85);
          .rounded(3px);
          li{
            text-align: left;
            padding: 5px 5px 5px 15px;
            line-height: 30px !important;
            a{
              font-size: 13px;
            }
          }
        }
      }

    }
    span{
      color: #ccc;
    }
    &._fixed{
      ul>li{
        line-height: 60px;
      }
      position: fixed;
      top: 0;
      height: 60px;
      background: rgba(0, 0, 0, .7);
      a{
        color: white;
      }
      >ul>li>ul{
        background: rgba(0, 0, 0, .8);
      }
    }

  }
}

.wrap{
  opacity: 0;
  .transition(.4s);
  &._animated{
    opacity: 1;
  }

}



//Common


.masonry{
  -moz-column-count:4;
  -moz-column-gap: 15px;
  -moz-column-width: 25%;
  -webkit-column-count:4;
  -webkit-column-gap: 3%;
  -webkit-column-width: 25%;
  column-count: 4;
  column-gap: 3%;
  column-width: 25%;

  .item{
    display: inline-block;
    margin-bottom: 15px;
  }

}


.social{
  left: 0;
  &.huge{
    .hidden-xs;
    a{
      width: 65px;
      height: 65px;
      .rounded(80px);
      margin: 15px;
      line-height: 65px;
      font-size: 30px;
      @media screen and (max-width: @screen-sm-max) {
        width: 15vw;
        height: 15vw;
        font-size: 10vw;
        line-height: 15vw;
      }
    }
  }
  &.small{
    a{
      width: 26px;
      height: 26px;
      .rounded(80px);
      margin: 5px;
      line-height: 26px;
      font-size: 16px;
      @media screen and (max-width: @screen-sm-max) {
        width: 8vw;
        height: 8vw;
        font-size: 5vw;
        line-height: 8vw;
      }
    }
  }
  a{
    display: inline-block;
    width: 44px;
    height: 44px;
    margin: 15px;
    line-height: 44px;
    font-size: 24px;
    color: white;
    text-align: center;
    .transition(all .4s ease);
    &:hover{
      -webkit-transform: rotateY(360deg);
      -moz-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
    .rounded(30px);
    &:nth-child(1){
      background: #45668e;
    }
    &:nth-child(2){
      background: #3b5998;
    }
    &:nth-child(3){
      background: #55acee;
    }
    &:nth-child(4){
      background: #3f729b;
    }
  }
}

.arrows{

  position: absolute;
  width: 100%;

  button{
    position: absolute;
    width: 37px;
    height: 72px;
    opacity: .5;
    .transition(.4s);
    &:hover{
      opacity: 1;
    }
    &:nth-child(1){
      background-image: url(/img/arrow_left.png);
      left: -60px;
    }
    &:nth-child(2){
      background-image: url(/img/arrow_right.png);
      right: -60px;
    }
  }

  &.small{

    button{

      width: 28px;
      height: 47px;

      &:nth-child(1){
        background-image: url(/img/arrow_small_left.png);
        left: -25px;
      }
      &:nth-child(2){
        background-image: url(/img/arrow_small_right.png);
        right: -25px;
      }

    }

  }

}


.wrap{
  min-height: 500px;
}


.tltp{

  position: absolute;
  width: 300px;
  background: rgba(255, 255, 255, .8);
  padding: 10px;
  font-size: c4px;
  .box-shadow(0 0 5px rgba(0, 0, 0, .3));
  z-index: @zindex-modal;
  .transition(.4s);
  opacity: 0;
  .translate(-30px, 0);
  &._visible{
    opacity: 1;
    .translate(0, 0);
  }

}

.group-change-cont{
  margin-top: 60px;
  padding-left: 2vw;
  overflow: hidden;
  .row{
    >div{
      .make-md-column(3);
      .make-sm-column(3);
      padding: 0 5px;
    }
  }
  button{
    width: 100%;
    font-size: 12px;
    &:hover, &._active{
      border-color: @brand-primary;
      color: @brand-primary;
    }
    @media screen and (max-width: @screen-xs-max) {
      font-size: 9px;
    }
    @media screen and (max-width: @screen-xs-max) {
      display: block;
      margin: 3vw auto !important;
      font-size: 4vw !important;
      padding: 3vw 1vw !important;
      width: 90% !important;

    }
  }
}

.group-time{
  height: 0;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  -o-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  .transition(.4s);
  &._visible{
    height: 40px;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    @media screen and (max-width: @screen-xs-max) {
      margin-top: 10px;
      margin-left: 10px;
      height: 95px;
    }
  }
}

.calendar-controls{
  position: relative;
  width: 260px;
  margin: 20px auto;
  text-align: center;
  span{
    display: block;
    font-size: 28px;
    line-height: 28px;
    opacity: 0;
    visibility: hidden;
    .transition(.4s);
    &:nth-child(1){
      font-size: 24px;
      color: @gray-light;
      .translate(0, -5px);
    }
    &:nth-child(2){
      font-family: copper;
      .translate(0, 5px);
    }
  }
  .arrows{
    top: 5px;
    button{
      opacity: 0;
      visibility: hidden;
      .transition(.4s);
      &:nth-child(1){
        .translate(-20px, 0)
      }
      &:nth-child(2){
        .translate(20px, 0);
      }
    }
  }
  &._visible{
    .arrows{
      button{
        opacity: 1;
        visibility: visible;
        .translate(0, 0);
      }
    }
    span{
      opacity: 1;
      visibility: visible;
      .translate(0, 0);
    }
  }
}

.calendar-time-controls{

  margin-top: 10px;
  
  input{
    font-size: 24px;
    padding: 3px 10px;
    border-radius: 100px;
    margin: 0 5px 10px 0;
    border: 0;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
  }
  
  .remove{
    color: red;
  }
  
  .add{
    color: lawngreen;
    font-size: 28px;
    padding: 5px 10px;
  }
  
}


.rdo, .chckbx{

  position: relative;
  display: inline-block;
  width: 280px;
  margin: 5px 0;
  &[data-value="card"]{
    @media screen and (max-width: @screen-sm-max) {
      height: 28vw;
    }
  }
  >div:nth-child(1){
    position: relative;
    width: 35px;
    height: 35px;
    .rounded(35px);
    border: 1px solid black;
    cursor: pointer;
    >div{
      opacity: 0;
      width: 27px;
      height: 27px;
      .rounded(29px);
      .transition(.4s);
      background: black;
      margin: 3px;
    }
  }
  >p, >.desc{
    height: 100%;
    position: absolute;
    top: 0;
    line-height: 36px;
    left: 45px;
    color: black;
    font-weight: 200;
    font-size: 12px;
    font-family: copper;
    text-transform: uppercase;
  }
  &._active{
    >div{
      >div{
        opacity: 1;
      }
    }
  }

}

@cell1: rgba(255, 0, 0, .1);
@cell2: rgba(0, 255, 0, .1);

.calendar-wrapper{
  width: 100%;
  overflow: scroll;
}

.calendar{
  width: 960px;
  @media screen and (max-width: @screen-sm-max) {
    width: 100%;
  }
  .header{
    overflow: hidden;
    margin-bottom: 7px;
    width: 960px;
    >div{
      float: left;
      width: 120px;
      box-sizing: border-box;
      border-right: 1px solid white;
      font-weight: 200;
      padding: 3px 0;
      text-align: center;
      font-size: 14px;
      background: @brand-primary;
      color: white;
      &:last-of-type{
        border-right: 0;
      }
    }
  }

  .color-select{
    position: absolute;
    width: 60px;
    right: -10px;
    top: 10px;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    .transition(.4s);
    .translate(0, 15px);
    text-align: center;
    &._hover{
      opacity: 1;
      visibility: visible;
      .translate(0, 0);
    }
    >div{
      width: 27px;
      height: 27px;
      .rounded(33px);
      display: inline-block;
      margin: 5px;
      border: 1px solid white;
      cursor: pointer;
      &:nth-child(1){
        background: white;
        border-color: #ddd;
      }
      &:nth-child(2){
        background: @cell1;
      }
      &:nth-child(3){
        background: @cell2;
      }
    }
  }

  .body{

    border-top: 1px solid @gray-lighter;
    opacity: 0;
    visibility: hidden;
    width: 960px;
    .transition(.4s);
    &._visible{
      opacity: 1;
      visibility: visible;
    }

    >aside, .output{
      float: left;
//      overflow: hidden;
    }

    >aside{
      width: 120px;
      >div{
        width: 100%;
        border-bottom: 1px solid @gray-lighter;
        border-left: 1px solid @gray-lighter;
        border-right: 1px solid @gray-lighter;
        >div{
          height: 44px;
          text-align: center;
          line-height: 44px;
          color: @gray-light;
          font-size: 12px;
          font-weight: 200;
          &:nth-child(even){
            background: rgba(0, 45, 255, .05);
          }
        }
      }
    }

    .output{
      width: 840px;
      .calendar-row{
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid @gray-lighter;
        >div{
          position: relative;
          width: 120px;
          height: 100%;
          float: left;
          border-right: 1px solid @gray-lighter;
          font-size: 10px;
          &._disabled{
            background: rgba(0, 45, 255, .05);
          }
          &.today{
            background: rgba(255, 197, 0, 0.05);
          }
          &.color_1{
            background: transparent;
          }
          &.color_2{
            background: @cell1;
          }
          &.color_3{
            background: @cell2;
          }
          .date{
            position: absolute;
            right: 2px;
            top: -6px;
            font-weight: 600;
            font-size: 24px;
            color: rgba(0, 45, 255, .25);
          }
          >div{
            width: 100%;
            height: 100%;
            display: table;
            >div{
              display: table-row;
              width: 100%;
              vertical-align: middle;
              height: 44px;
              line-height: 44px;
              padding-left: 10px;
              &:nth-child(even){
                background: rgba(0, 45, 255, .05);
              }
              p{
                width: 100%;
                height: 44px;
                display: table-cell;
                font-size: 12px;
                line-height: 1.3;
                vertical-align: middle;
                padding: 0 5px;
                span{
                  min-height: 20px;
                  width: 100%;
                  display: block;
                  font-weight: 600;
                  color: #666;
                }
              }
            }
          }
        }
      }
    }
  }
}



//Sections


.slider{

  margin-top: 5px;

  &:hover{
    .slider-edit{
      #slider-edit-button{
        visibility: visible;
        opacity: 1;
        .scale(1);
      }
    }
  }

    .slider-edit{
      position: absolute;
      top: 0;
      height: 120px;
      width: 100%;
      z-index: 10;
      &._opened{
        ul{
          -webkit-transform: scaleY(1);
          -moz-transform: scaleY(1);
          -ms-transform: scaleY(1);
          -o-transform: scaleY(1);
          transform: scaleY(1);
          visibility: visible;
          opacity: 1;
        }
        #slider-edit-button{
          visibility: hidden;
          opacity: 0;
        }
      }
      #slider-edit-button{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 2px solid white;
        text-align: center;
        line-height: 98px;
        right: 40px;
        top: 10px;
        cursor: pointer;
        background: rgba(0, 0, 0, .7);
        color: white;
        font-size: 33px;
        .transition(.4s);
        .scale(0);
        opacity: 0;
        visibility: hidden;
        &:hover{
          background: black;
        }
      }
      ul{
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, .7);
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -ms-transform-origin: center top;
        -o-transform-origin: center top;
        transform-origin: center top;
        opacity: 0;
        visibility: hidden;
        .transition(.4s);
        .close-slider-edit{
          position: absolute;
          right: 35px;
          font-size: 30px;
          top: 5px;
        }
        >li{
          position: relative;
          margin: 10px 5px;
          width: 100px;
          height: 100px;
          float: left;
          cursor: pointer;
          &:hover{
            .remove{
              opacity: 1;
              visibility: visible;
            }
          }
          .remove{
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            border: 2px solid white;
            color: white;
            background: rgba(255, 0, 0, .8);
            .transition(.4s);
            top: 0px;
            right: 0px;
            opacity: 0;
            visibility: hidden;
            &:hover{
              .scale(1.1);
            }
          }
          &.add-slide{
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            color: @brand-success;
            border: 2px solid @brand-success;
            line-height: 100px;
            font-size: 40px;
            .transition(.4s);
            &:hover{
              color: white;
              background: @brand-success;
            }
          }
          >div{
            width: 100px;
            height: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            border: 2px solid white;
            -webkit-background-size: cover;
            background-size: cover;
          }
        }
      }
    }

  .slider-cont{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 420px;
    @media screen and (max-width: @screen-sm-max) {
      height: 50vw;
    }
    li{
      width: 100%;
      height: 100%;
      background: @brand-primary;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      cursor: pointer;

      .aura-input{
        position: absolute;
        left: 20px;
        top: 150px;
        width: 200px;
        color: white;
        opacity: .8;
      }
      
      p{
        position: absolute;
        background: rgba(255, 255, 255, .5);
        width: 100%;
        bottom: 30px;
        padding: 20px 30px;
        color: black;
        font-family: copper;
        font-size: 22px;
        text-align: center;
        @media screen and (max-width: @screen-xs-max) {
          font-size: 3vw;
          span{
            &:nth-child(2){
              font-size: 2vw;
            }
          }
        }
        span{
          display: block;
          &:nth-child(2){
            font-size: 16px;
          }
        }
      }
    }
  }

  .arrows{

    top: 170px;

  }

}


.directions{

  .row{
    .direction{
      .make-md-column(3);
      .make-sm-column(3);
      .make-xs-column(6);
      cursor: pointer;
      .img{
        width: 100%;
        height: 140px;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        @media screen and (max-width: @screen-xs-max) {
          height: 27vw;
        }
      }
      h3{
        margin-top: 28px;
        margin-bottom: 7px;
        span{
          display: block;
          font-size: 28px;
          &:nth-child(1){
            font-family: @font-family-script;
            color: @gray;
            line-height: 20px;
          }
        }
      }

      p{
        text-align: center;
        line-height: 22px;
        color: @gray;
        >h3, >h4, >h2, >h1{
          font-size: 4vw !important;
        }
      }
    }
  }

}


.about{

  .container{

    .row{

      >article{

        .make-md-column(9);
        .make-sm-column(9);

      }

      >.news{

        .make-md-column(3);
        .make-sm-column(3);

        >a{
          display: block;
          text-align: center;
          margin-bottom: 20px;
          font-size: 24px;
        }

        .item{

          margin-bottom: 30px;
          cursor: pointer;
          @media screen and (max-width: @screen-xs-max) {
            text-align: center;
          }

          .img{
            width: 100%;
            height: 145px;
            -webkit-background-size: cover;
            background-size: cover;
          }
          .date{
            color: @brand-primary;
          }
          h4{
            font-family: @font-family-serif;
            font-size: 18px;
          }
        }

      }

    }

  }

}


.events{

  @media screen and (max-width: @screen-xs-max) {
    height: 580px;
  }

  .arrows{
    top: 70px;
    button{
      &:nth-child(1){
        left: -50px;
      }
      &:nth-child(2){
        right: -50px;
      }
    }
  }

  .carousel{

    .event{

      .make-md-column(3);
      .make-sm-column(6);
      .make-xs-column(6);
      cursor: pointer;

      >div{

        position: relative;
        width: 100%;
        height: 135px;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;

        >p{
          position: absolute;
          width: 100%;
          margin: 0;
          bottom: 0;
          background: rgba(255, 255, 255, .8);
          padding: 5px 10px;
          color: @brand-primary;
          font-weight: 400;
          font-size: 16px;
        }
      }
      
      h4{
        font-family: copper;
        font-size: 16px;
      }

    }

  }

}


.partners{

  height: 500px;

  .arrows{
    top: 70px;
  }

  .container{
    margin-top: 80px;
  }

  .carousel{

    .partner{

      .make-md-column(3);
      .make-sm-column(3);
      .make-xs-column(6);

      >div{

        position: relative;
        width: 100%;

        >a{
          text-align: center;
          img{
            width: 100%;
          }
        }

      }

      h4{
        font-family: copper;
        font-size: 16px;
      }

    }

  }

}

.schedule{
  .container{
    padding: 0;
  }
}



footer{

  padding-top: 50px;
  background: @gray-darker;

  .links{
    >div{
      .make-md-column(3);
      .make-sm-column(3);
      .make-xs-column(6);
      a{
        color: #ccc;
        font-size: 16px;
        font-weight: 200;
        display: block;
        &:hover{
          color: #eee;
          text-decoration: none;
        }
      }
    }
  }

  .social{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    .hidden-sm;
  }
  
  .disclaimer{
    margin-top: 190px;
    font-size: 14px;
    color: @gray-lighter;
    span{
      color: white;
    }
  }

  .contacts-footer{
    position: absolute;
    right: 30px;
    text-align: right;
    color: @gray-lighter;
    bottom: 100px;
    height: 80px;
    span{
      font-size: 22px;
      display: block;
      font-weight: 200;
      &:nth-child(1){
        font-weight: 400;
      }
    }
    @media screen and (max-width: @screen-sm-max) {
      width: 100%;
      left: 0;
      bottom: 200px;
      text-align: center;
    }
  }
  
}

.tab-cont{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .custom-tab{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 0;
    .transition(.6s);
    opacity: 0;
    visibility: hidden;
    &._active{
      opacity: 1;
      visibility: visible;
    }
  }
}
.modal-content{

  border: 0 !important;
  .box-shadow(0 0 3px rgba(0, 0, 0, .2));

}

.popover-content{
  p, li{
    font-size: 12px !important;
    color: @gray-dark !important;
  }
}

.color-red{

  //color: @brand-primary;


}


input._valid{
  border-color: @brand-success !important;
}
input._invalid{
  border-color: @brand-danger !important;
}

iframe{

  @media screen and (max-width: @screen-xs-max) {
    width: 93vw !important;
    height: 61vw !important;
  }

}

@import "views/directions/directions.lessimport";
@import "views/gallery/gallery.lessimport";
@import "views/contacts/contacts.lessimport";
@import "views/blog/blog.lessimport";
@import "views/events/events.lessimport";
@import "views/schedule/schedule.lessimport";
@import "views/news/news.lessimport";
@import "views/cinema/cinema.lessimport";
@import "views/event/event.lessimport";
@import "views/summer/summer.lessimport";
@import "views/country/country.lessimport";
@import "views/archive/archive.lessimport";
@import "views/components/email.lessimport";
@import "views/kindergarten/kindergarten.lessimport";