<template name="children">

    <section id="direction" class="wrap direction-children">

        <section class="top" data-aura-image-background="children.mainPic" style="background-image: url(http://d1tvqt3gjtui5j.cloudfront.net/images/{{children.mainPic}})" data-stellar-background-ratio=".7">

            <div class="container">

                <h1 data-aura-html="children.heading" contenteditable="false">
                    {{{children.heading}}}
                </h1>

            </div>

        </section>

        <section class="about">

            <div class="container">

                <div class="row">

                    <div data-aura-html="children.mainDesc" contenteditable="false">
                        {{{children.mainDesc}}}
                    </div>
                    <aside>
                        <span class="quots">“</span>
                        <span class="quots">“</span>
                        <p data-aura-html="children.mainQuot" contenteditable="false">{{{children.mainQuot}}}</p>

                    </aside>

                </div>

            </div>

        </section>

        <hr/>

        <section class="classes-header">

            <h2 data-aura-html="children.classesHeader" contenteditable="false">{{{children.classesHeader}}}</h2>

            <div class="container">

                <div class="row" data-aura-list="children.classes">

                    {{#each children.classes}}

                    <div data-aura-list-item>
                        <button class="lead">
                            <div>
                                <p data-aura-list-html="name">{{{name}}}</p>
                            </div>
                            {{#if userIsAdmin}}
                            <span class="remove" data-aura-list-remove><i class="fa fa-times"></i></span>
                            {{/if}}
                        </button>
                    </div>

                    {{/each}}

                    {{#if userIsAdmin}}
                    <div>
                        <button id="add-item" class="lead" data-aura-list-add data-aura-sample-text="Новый предмет">
                            <div>
                                +
                            </div>
                        </button>
                    </div>
                    {{/if}}

                </div>

            </div>

        </section>

        <section class="classes-body">

            <div class="shadow"></div>

            <div class="tab-cont" data-aura-list="children.classes">

                {{#each children.classes}}

                <div class="custom-tab" data-aura-list-item>


                    <h3 data-aura-list-html="name" contenteditable="false">{{{name}}}</h3>

                    <div class="container">

                        <div class="row">

                            <div>
                                <img data-aura-list-image="pic" src="{{storagePath}}/images/{{pic}}" alt="Новости"/>
                            </div>

                            <div data-aura-list-html="desc" contenteditable="false">
                                {{{desc}}}
                            </div>

                        </div>

                    </div>

                </div>

                {{/each}}

            </div>

        </section>

        <hr/>

        <section class="schedule">

            <h2>Расписание</h2>

            <div id="group-schedule"></div>

        </section>

        <!--<hr/>-->

        <!--<section class="teachers">-->

            <!--<h2>Преподователи</h2>-->

            <!--<div class="container">-->

                <!--<div class="row">-->
                    <!--<div class="teacher row">-->
                        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
                        <!--<div>-->
                            <!--<p class="name">Альбина</p>-->
                            <!--<p class="second-name">Григорьева</p>-->
                            <!--<p class="classes">Стилистика</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="teacher row">-->
                        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
                        <!--<div>-->
                            <!--<p class="name">Альбина</p>-->
                            <!--<p class="second-name">Григорьева</p>-->
                            <!--<p class="classes">Стилистика</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="teacher row">-->
                        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
                        <!--<div>-->
                            <!--<p class="name">Альбина</p>-->
                            <!--<p class="second-name">Григорьева</p>-->
                            <!--<p class="classes">Стилистика</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="teacher row">-->
                        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
                        <!--<div>-->
                            <!--<p class="name">Альбина</p>-->
                            <!--<p class="second-name">Григорьева</p>-->
                            <!--<p class="classes">Стилистика</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="teacher row">-->
                        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
                        <!--<div>-->
                            <!--<p class="name">Альбина</p>-->
                            <!--<p class="second-name">Григорьева</p>-->
                            <!--<p class="classes">Стилистика</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="teacher row">-->
                        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
                        <!--<div>-->
                            <!--<p class="name">Альбина</p>-->
                            <!--<p class="second-name">Григорьева</p>-->
                            <!--<p class="classes">Стилистика</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

        <!--</section>-->

        <hr/>

        <section class="lead-button">

            <div class="container">
                <button id="send-request" class="lead red" data-group="children">Записаться</button>
                <p>Наш менеджер свяжется с вами в ближайшие 5 минут</p>
            </div>

        </section>

    </section>

    <div id="direction-lead" class="custom-modal">

        <div class="body">

            <h2 class="red">ЗАПИСЬ</h2>

            <div class="close-it">&times;</div>

            <form id="form" action="">

                <input id="direction-user-name" type="text" minlength="2" maxlength="50" placeholder="Ваше имя:" required/>
                <input id="direction-user-email" type="email" name="email" maxlength="80" placeholder="Ваш email:" required/>
                <input id="direction-user-phone" name="tel" type="tel" placeholder="Ваше телефон:" required/>

            </form>

            <!--<div class="types">-->

            <!--<div id="day1" class="item">Международный этикет</div>-->
            <!--<div id="day2" class="item">Столовый этикет</div>-->
            <!--<div id="diner" class="item">Гала-ужин</div>-->
            <!--<span style="clear: both; display: block;"></span>-->

            <!--</div>-->

            <button id="send" class="lead" data-group="children">ОТПРАВИТЬ</button>

        </div>

    </div>

    <div class="modal-overlay"></div>

    <div class="sccss">
        <div class="body">
            <h3 class="red">
                Ваша заявка отправлена!
            </h3>
            <h4>Мы свяжемся с вами в ближайшее время</h4>
        </div>

    </div>

</template>


<template name="teens">

    <section id="direction" class="wrap direction-teens">

        <section class="top" data-aura-image-background="teens.mainPic" style="background-image: url(http://d1tvqt3gjtui5j.cloudfront.net/images/{{teens.mainPic}})" data-stellar-background-ratio=".7">

            <div class="container">

                <h1 data-aura-html="teens.heading" contenteditable="false">
                    {{{teens.heading}}}
                </h1>

            </div>

        </section>

        <section class="about">

            <div class="container">

                <div class="row">

                    <div data-aura-html="teens.mainDesc" contenteditable="false">
                        {{{teens.mainDesc}}}
                    </div>
                    <aside>
                        <span class="quots">“</span>
                        <span class="quots">“</span>
                        <p data-aura-html="teens.mainQuot" contenteditable="false">{{{teens.mainQuot}}}</p>

                    </aside>

                </div>

            </div>

        </section>

        <hr/>

        <section class="international" style="background-image: url({{storagePath}}/images/inter_bg.jpg)">

            <div class="container">

                <p>Для данной группы предусмотрена</p>
                <p>международная программа</p>
                <a href="/international">подробнее</a>

            </div>

        </section>

        <hr/>

        <section class="classes-header">

            <h2 data-aura-html="teens.classesHeader" contenteditable="false">{{{teens.classesHeader}}}</h2>

            <div class="container">

                <div class="row" data-aura-list="teens.classes">

                    {{#each teens.classes}}

                    <div data-aura-list-item>
                        <button class="lead">
                            <div>
                                <p data-aura-list-html="name">{{{name}}}</p>
                            </div>
                            {{#if userIsAdmin}}
                            <span class="remove" data-aura-list-remove><i class="fa fa-times"></i></span>
                            {{/if}}
                        </button>
                    </div>

                    {{/each}}

                    {{#if userIsAdmin}}
                    <div>
                        <button id="add-item" class="lead" data-aura-list-add data-aura-sample-text="Новый предмет">
                            <div>
                                +
                            </div>
                        </button>
                    </div>
                    {{/if}}

                </div>

            </div>

        </section>

        <section class="classes-body">

            <div class="shadow"></div>

            <div class="tab-cont" data-aura-list="teens.classes">

                {{#each teens.classes}}

                <div class="custom-tab" data-aura-list-item>


                    <h3 data-aura-list-html="name" contenteditable="false">{{{name}}}</h3>

                    <div class="container">

                        <div class="row">

                            <div>
                                <img data-aura-list-image="pic" src="{{storagePath}}/images/{{pic}}" alt="Новости"/>
                            </div>

                            <div data-aura-list-html="desc" contenteditable="false">
                                {{{desc}}}
                            </div>

                        </div>

                    </div>

                </div>

                {{/each}}

            </div>

        </section>

        <hr/>

        <section class="schedule">

            <h2>Расписание</h2>

            <div id="group-schedule"></div>

        </section>

        <!--<hr/>-->

        <!--<section class="teachers">-->

        <!--<h2>Преподователи</h2>-->

        <!--<div class="container">-->

        <!--<div class="row">-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->

        <!--</section>-->

        <hr/>

        <section class="lead-button">

            <div class="container">
                <button id="send-request" class="lead red" data-group="teen-kids">Записаться</button>
                <p>Наш менеджер свяжется с вами в ближайшие 5 минут</p>
            </div>

        </section>

    </section>

    <div id="direction-lead" class="custom-modal">

        <div class="body">

            <h2 class="red">ЗАПИСЬ</h2>

            <div class="close-it">&times;</div>

            <form id="form" action="">

                <input id="direction-user-name" type="text" minlength="2" maxlength="50" placeholder="Ваше имя:" required/>
                <input id="direction-user-email" type="email" name="email" maxlength="80" placeholder="Ваш email:" required/>
                <input id="direction-user-phone" name="tel" type="tel" placeholder="Ваше телефон:" required/>

            </form>

            <!--<div class="types">-->

            <!--<div id="day1" class="item">Международный этикет</div>-->
            <!--<div id="day2" class="item">Столовый этикет</div>-->
            <!--<div id="diner" class="item">Гала-ужин</div>-->
            <!--<span style="clear: both; display: block;"></span>-->

            <!--</div>-->

            <button id="send" class="lead" data-group="teen-kids">ОТПРАВИТЬ</button>

        </div>

    </div>

    <div class="modal-overlay"></div>

    <div class="sccss">
        <div class="body">
            <h3 class="red">
                Ваша заявка отправлена!
            </h3>
            <h4>Мы свяжемся с вами в ближайшее время</h4>
        </div>

    </div>

</template>


<template name="lateteens">

    <section id="direction" class="wrap direction-lateteens">

        <section class="top" data-aura-image-background="lateTeens.mainPic" style="background-image: url(http://d1tvqt3gjtui5j.cloudfront.net/images/{{lateTeens.mainPic}})" data-stellar-background-ratio=".7">

            <div class="container">

                <h1 data-aura-html="lateTeens.heading" contenteditable="false">
                    {{{lateTeens.heading}}}
                </h1>

            </div>

        </section>

        <section class="about">

            <div class="container">

                <div class="row">

                    <div data-aura-html="lateTeens.mainDesc" contenteditable="false">
                        {{{lateTeens.mainDesc}}}
                    </div>
                    <aside>
                        <span class="quots">“</span>
                        <span class="quots">“</span>
                        <p data-aura-html="lateTeens.mainQuot" contenteditable="false">{{{lateTeens.mainQuot}}}</p>

                    </aside>

                </div>


            </div>

        </section>

        <hr/>

            <section class="international" data-aura-image-background="lateTeens.interBg" style="background-image: url({{storagePath}}/images/{{lateTeens.interBg}})" data-stellar-background-ratio=".3">

            <div class="container">

                <p>Для данной группы предусмотрена</p>
                <p>международная программа</p>
                <a href="/international">подробнее</a>

            </div>

        </section>

        <hr/>

        <section class="classes-header">

            <h2 data-aura-html="lateTeens.classesHeader" contenteditable="false">{{{lateTeens.classesHeader}}}</h2>

            <div class="container">

                <div class="row" data-aura-list="lateTeens.classes">

                    {{#each lateTeens.classes}}

                    <div data-aura-list-item>
                        <button class="lead">
                            <div>
                                <p data-aura-list-html="name">{{{name}}}</p>
                            </div>
                            {{#if userIsAdmin}}
                            <span class="remove" data-aura-list-remove><i class="fa fa-times"></i></span>
                            {{/if}}
                        </button>
                    </div>

                    {{/each}}

                    {{#if userIsAdmin}}
                    <div>
                        <button id="add-item" class="lead" data-aura-list-add data-aura-sample-text="Новый предмет">
                            <div>
                                +
                            </div>
                        </button>
                    </div>
                    {{/if}}

                </div>

            </div>

        </section>

        <section class="classes-body">

            <div class="shadow"></div>

            <div class="tab-cont" data-aura-list="lateTeens.classes">

                {{#each lateTeens.classes}}

                <div class="custom-tab" data-aura-list-item>


                    <h3 data-aura-list-html="name" contenteditable="false">{{{name}}}</h3>

                    <div class="container">

                        <div class="row">

                            <div>
                                <img data-aura-list-image="pic" src="{{storagePath}}/images/{{pic}}" alt="Новости"/>
                            </div>

                            <div data-aura-list-html="desc" contenteditable="false">
                                {{{desc}}}
                            </div>

                        </div>

                    </div>

                </div>

                {{/each}}

            </div>

        </section>

        <hr/>

        <section class="schedule">

            <h2>Расписание</h2>

            <div id="group-schedule"></div>

        </section>

        <!--<hr/>-->

        <!--<section class="teachers">-->

        <!--<h2>Преподователи</h2>-->

        <!--<div class="container">-->

        <!--<div class="row">-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->

        <!--</section>-->

        <hr/>

        <section class="lead-button">

            <div class="container">
                <button id="send-request" class="lead red" data-group="teens">Записаться</button>
                <p>Наш менеджер свяжется с вами в ближайшие 5 минут</p>
            </div>

        </section>

    </section>

    <div id="direction-lead" class="custom-modal">

        <div class="body">

            <h2 class="red">ЗАПИСЬ</h2>

            <div class="close-it">&times;</div>

            <form id="form" action="">

                <input id="direction-user-name" type="text" minlength="2" maxlength="50" placeholder="Ваше имя:" required/>
                <input id="direction-user-email" type="email" name="email" maxlength="80" placeholder="Ваш email:" required/>
                <input id="direction-user-phone" name="tel" type="tel" placeholder="Ваше телефон:" required/>

            </form>

            <!--<div class="types">-->

            <!--<div id="day1" class="item">Международный этикет</div>-->
            <!--<div id="day2" class="item">Столовый этикет</div>-->
            <!--<div id="diner" class="item">Гала-ужин</div>-->
            <!--<span style="clear: both; display: block;"></span>-->

            <!--</div>-->

            <button id="send" class="lead" data-group="teens">ОТПРАВИТЬ</button>

        </div>

    </div>

    <div class="modal-overlay"></div>

    <div class="sccss">
        <div class="body">
            <h3 class="red">
                Ваша заявка отправлена!
            </h3>
            <h4>Мы свяжемся с вами в ближайшее время</h4>
        </div>

    </div>

</template>


<template name="grownups">

    <section id="direction" class="wrap direction-grownups">

        <section class="top" data-aura-image-background="grownUps.mainPic" style="background-image: url(http://d1tvqt3gjtui5j.cloudfront.net/images/{{grownUps.mainPic}})" data-stellar-background-ratio=".7">

            <div class="container">

                <h1 data-aura-html="grownUps.heading" contenteditable="false">
                    {{{grownUps.heading}}}
                </h1>

            </div>

        </section>

        <section class="about">

            <div class="container">

                <div class="row">

                    <div data-aura-html="grownUps.mainDesc" contenteditable="false">
                        {{{grownUps.mainDesc}}}
                    </div>
                    <aside>
                        <span class="quots">“</span>
                        <span class="quots">“</span>
                        <p data-aura-html="grownUps.mainQuot" contenteditable="false">{{{grownUps.mainQuot}}}</p>
                    </aside>

                </div>

            </div>

        </section>

        <hr/>

        <section class="international" data-aura-image-background="grownUps.interBg" style="background-image: url({{storagePath}}/images/{{grownUps.interBg}})" data-stellar-background-ratio=".3">

            <div class="container">

                <p>Для данной группы предусмотрена</p>
                <p>международная программа</p>
                <a href="/international">подробнее</a>

            </div>

        </section>

        <hr/>

        <section class="classes-header">

            <h2 data-aura-html="grownUps.classesHeader" contenteditable="false">{{{grownUps.classesHeader}}}</h2>

            <div class="container">

                <div class="row" data-aura-list="grownUps.classes">

                    {{#each grownUps.classes}}

                    <div data-aura-list-item>
                        <button class="lead">
                            <div>
                                <p data-aura-list-html="name">{{{name}}}</p>
                            </div>
                            {{#if userIsAdmin}}
                            <span class="remove" data-aura-list-remove><i class="fa fa-times"></i></span>
                            {{/if}}
                        </button>
                    </div>

                    {{/each}}

                    {{#if isInRole userIsAdmin}}
                    <div>
                        <button id="add-item" class="lead" data-aura-list-add data-aura-sample-text="Новый предмет">
                            <div>
                                +
                            </div>
                        </button>
                    </div>
                    {{/if}}

                </div>

            </div>

        </section>

        <section class="classes-body">

            <div class="shadow"></div>

            <div class="tab-cont" data-aura-list="grownUps.classes">

                {{#each grownUps.classes}}

                <div class="custom-tab" data-aura-list-item>


                    <h3 data-aura-list-html="name" contenteditable="false">{{{name}}}</h3>

                    <div class="container">

                        <div class="row">

                            <div>
                                <img data-aura-list-image="pic" src="{{storagePath}}/images/{{pic}}" alt="Новости"/>
                            </div>

                            <div data-aura-list-html="desc" contenteditable="false">
                                {{{desc}}}
                            </div>

                        </div>

                    </div>

                </div>

                {{/each}}

            </div>

        </section>

        <hr/>

        <section class="schedule">

            <h2>Расписание</h2>

            <div id="group-schedule"></div>

        </section>

        <!--<hr/>-->

        <!--<section class="teachers">-->

        <!--<h2>Преподователи</h2>-->

        <!--<div class="container">-->

        <!--<div class="row">-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="teacher row">-->
        <!--<div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>-->
        <!--<div>-->
        <!--<p class="name">Альбина</p>-->
        <!--<p class="second-name">Григорьева</p>-->
        <!--<p class="classes">Стилистика</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->

        <!--</section>-->

        <hr/>

        <section class="lead-button">

            <div class="container">
                <button id="send-request" class="lead red" data-group="grown-ups">Записаться</button>
                <p>Наш менеджер свяжется с вами в ближайшие 5 минут</p>
            </div>

        </section>

    </section>

    <div id="direction-lead" class="custom-modal">

        <div class="body">

            <h2 class="red">ЗАПИСЬ</h2>

            <div class="close-it">&times;</div>

            <form id="form" action="">

                <input id="direction-user-name" type="text" minlength="2" maxlength="50" placeholder="Ваше имя:" required/>
                <input id="direction-user-email" type="email" name="email" maxlength="80" placeholder="Ваш email:" required/>
                <input id="direction-user-phone" name="tel" type="tel" placeholder="Ваше телефон:" required/>

            </form>

            <!--<div class="types">-->

            <!--<div id="day1" class="item">Международный этикет</div>-->
            <!--<div id="day2" class="item">Столовый этикет</div>-->
            <!--<div id="diner" class="item">Гала-ужин</div>-->
            <!--<span style="clear: both; display: block;"></span>-->

            <!--</div>-->

            <button id="send" class="lead" data-title="title">ОТПРАВИТЬ</button>

        </div>

    </div>

    <div class="modal-overlay"></div>

    <div class="sccss">
        <div class="body">
            <h3 class="red">
                Ваша заявка отправлена!
            </h3>
            <h4>Мы свяжемся с вами в ближайшее время</h4>
        </div>

    </div>

</template>


<template name="international">

<section id="direction" class="wrap">

    <section class="top" data-aura-image-background="international.mainPic" style="background-image: url(http://d1tvqt3gjtui5j.cloudfront.net/images/{{international.mainPic}})" data-stellar-background-ratio=".7">

        <div class="container">

            <h1 data-aura-html="international.heading" contenteditable="false">
                {{{international.heading}}}
            </h1>

        </div>

    </section>

    <section class="about">

        <div class="container">

            <div class="row">

                <div data-aura-html="international.mainDesc" contenteditable="false">
                    {{{international.mainDesc}}}
                </div>
                <aside>
                    <span class="quots">“</span>
                    <span class="quots">“</span>
                    <p data-aura-html="international.mainQuot" contenteditable="false">{{{international.mainQuot}}}</p>

                </aside>

            </div>

        </div>

    </section>

    <hr/>

    <section class="classes-header">

        <h2 data-aura-html="international.classesHeader" contenteditable="false">{{{international.classesHeader}}}</h2>

        <div class="container">

            <div class="row" data-aura-list="international.classes">

                {{#each international.classes}}

                <div data-aura-list-item>
                    <button class="lead">
                        <div>
                            <p data-aura-list-html="name">{{{name}}}</p>
                        </div>
                        {{#if userIsAdmin}}
                        <span class="remove" data-aura-list-remove><i class="fa fa-times"></i></span>
                        {{/if}}
                    </button>
                </div>

                {{/each}}

                {{#if userIsAdmin}}
                <div>
                    <button id="add-item" class="lead" data-aura-list-add data-aura-sample-text="Новый предмет">
                        <div>
                            +
                        </div>
                    </button>
                </div>
                {{/if}}

            </div>

        </div>

    </section>

    <section class="classes-body">

        <div class="shadow"></div>

        <div class="tab-cont" data-aura-list="international.classes">

            {{#each international.classes}}

            <div class="custom-tab" data-aura-list-item>


                <h3 data-aura-list-html="name" contenteditable="false">{{{name}}}</h3>

                <div class="container">

                    <div class="row">

                        <div>
                            <img data-aura-list-image="pic" src="{{storagePath}}/images/{{pic}}" alt="Новости"/>
                        </div>

                        <div data-aura-list-html="desc" contenteditable="false">
                            {{{desc}}}
                        </div>

                    </div>

                </div>

            </div>

            {{/each}}

        </div>

    </section>

</section>

</template>


<template name="summerSchool">

<section id="direction" class="wrap direction-summerSchool">

    <section class="top" data-aura-image-background="summerSchool.mainPic" style="background-image: url(http://d1tvqt3gjtui5j.cloudfront.net/images/{{summerSchool.mainPic}})" data-stellar-background-ratio=".7">

        <div class="container">

            <h1 data-aura-html="summerSchool.heading" contenteditable="false">
                {{{summerSchool.heading}}}
            </h1>

        </div>

    </section>

    <section class="about">

        <div class="container">

            <div class="row">

                <div data-aura-html="summerSchool.mainDesc" contenteditable="false">
                    {{{summerSchool.mainDesc}}}
                </div>
                <aside>
                    <span class="quots">“</span>
                    <span class="quots">“</span>
                    <p data-aura-html="summerSchool.mainQuot" contenteditable="false">{{{summerSchool.mainQuot}}}</p>

                </aside>

            </div>

        </div>

    </section>

    <hr/>

    <section class="classes-header">

        <h2 data-aura-html="summerSchool.classesHeader" contenteditable="false">{{{summerSchool.classesHeader}}}</h2>

        <div class="container">

            <div class="row" data-aura-list="summerSchool.classes">

                {{#each summerSchool.classes}}

                <div data-aura-list-item>
                    <button class="lead">
                        <div>
                            <p data-aura-list-html="name">{{{name}}}</p>
                        </div>
                        {{#if userIsAdmin}}
                        <span class="remove" data-aura-list-remove><i class="fa fa-times"></i></span>
                        {{/if}}
                    </button>
                </div>

                {{/each}}

                {{#if userIsAdmin}}
                <div>
                    <button id="add-item" class="lead" data-aura-list-add data-aura-sample-text="Новый предмет">
                        <div>
                            +
                        </div>
                    </button>
                </div>
                {{/if}}

            </div>

        </div>

    </section>

    <section class="classes-body">

        <div class="shadow"></div>

        <div class="tab-cont" data-aura-list="summerSchool.classes">

            {{#each summerSchool.classes}}

            <div class="custom-tab" data-aura-list-item>


                <h3 data-aura-list-html="name" contenteditable="false">{{{name}}}</h3>

                <div class="container">

                    <div class="row">

                        <div>
                            <img data-aura-list-image="pic" src="{{storagePath}}/images/{{pic}}" alt="Новости"/>
                        </div>

                        <div data-aura-list-html="desc" contenteditable="false">
                            {{{desc}}}
                        </div>

                    </div>

                </div>

            </div>

            {{/each}}

        </div>

    </section>

    <hr/>

    <section class="schedule">

        <h2>Расписание</h2>

        <div id="group-schedule"></div>

    </section>


    <hr/>

    <section class="lead-button">

        <div class="container">
            <button id="send-request" class="lead red" data-group="summerSchool">Записаться</button>
            <p>Наш менеджер свяжется с вами в ближайшие 5 минут</p>
        </div>

    </section>

</section>

<div id="direction-lead" class="custom-modal">

    <div class="body">

        <h2 class="red">ЗАПИСЬ</h2>

        <div class="close-it">&times;</div>

        <form id="form" action="">

            <input id="direction-user-name" type="text" minlength="2" maxlength="50" placeholder="Ваше имя:" required/>
            <input id="direction-user-email" type="email" name="email" maxlength="80" placeholder="Ваш email:" required/>
            <input id="direction-user-phone" name="tel" type="tel" placeholder="Ваше телефон:" required/>

        </form>

        <!--<div class="types">-->

        <!--<div id="day1" class="item">Международный этикет</div>-->
        <!--<div id="day2" class="item">Столовый этикет</div>-->
        <!--<div id="diner" class="item">Гала-ужин</div>-->
        <!--<span style="clear: both; display: block;"></span>-->

        <!--</div>-->

        <button id="send" class="lead" data-group="summerSchool">ОТПРАВИТЬ</button>

    </div>

</div>

<div class="modal-overlay"></div>

<div class="sccss">
    <div class="body">
        <h3 class="red">
            Ваша заявка отправлена!
        </h3>
        <h4>Мы свяжемся с вами в ближайшее время</h4>
    </div>

</div>

</template>