<template name="direction">

    <section id="direction" class="wrap">

        <section class="top" style="background-image: url(/img/direction_bg.jpg)" data-stellar-background-ratio=".7">

            <div class="container">

                <h1>
                    <span>Детская</span>
                    <span>группа</span>
                </h1>

            </div>

        </section>

        <section class="about">

            <div class="container">

                <div class="row">

                    <div>
                        <p>	Как представиться. Как поприветствовать. Как попрощаться. В столовом этикете малыши будут изучать роль каждого столового прибора. И учиться пить чай по книгам Льюиса Кэролла. Основные темы – столовый этикет и этикет общения. Программа этикета и хороших манер поможет развить устойчивые поведенческие навыки, которые позволят в дальнейшем чувствовать себя уверенно в любой ситуации, связанной с  общением.</p>
                        <p> История костюма изучается по сказкам, по полотнам известных художников. Стили и стилевые направления для маленьких леди открываются через бренды, создающие коллекции для детей – от Dior до Dolce & Gabbana! </p>
                    </div>
                    <aside>
                        <span class="quots">“</span>
                        <span class="quots">“</span>
                        <p>Австрийская Высшая Школа Леди в  г. Санкт-Петербург является одним из важнейших образовательных центров России для девочек  и девушек</p>

                    </aside>

                </div>

            </div>

        </section>

        <hr/>

        <section class="classes-header">

            <h2>Предметы</h2>

            <div class="container">

                <div class="row">

                    <div>
                        <button class="lead _active">
                            <div>
                                <p>Стилистика</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <button class="lead">
                            <div>
                                <p>Английский язык</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <button class="lead">
                            <div>
                                <p>Красота и здоровье</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <button class="lead">
                            <div>
                                <p>Верховая езда</p>
                            </div>
                        </button>
                    </div>

                    <div>
                        <button class="lead">
                            <div>
                                <p>Актерское мастерство</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <button class="lead">
                            <div>
                                <p>Рисунок</p>
                            </div>
                        </button>
                    </div>
                    <div>
                        <button class="lead">
                            <div>
                                <p>Этикет</p>
                            </div>
                        </button>
                    </div>

                </div>

            </div>

        </section>

        <section class="classes-body">

            <div class="shadow"></div>

            <div class="container">

                <div class="row">

                    <div>
                        <img src="/img/news.jpg" alt="Новости"/>
                    </div>

                    <div>
                        <p class="quot">Как представиться. Как поприветствовать. Как попрощаться. В столовом этикете малыши будут изучать роль каждого столового прибора. И учиться пить чай по книгам Льюиса Кэролла</p>
                        <p>Основные темы – столовый этикет и этикет общения. Программа этикета и хороших манер поможет развить устойчивые поведенческие навыки, которые позволят в дальнейшем чувствовать себя уверенно в любой ситуации, связанной с  общением. </p>
                    </div>

                </div>

            </div>

        </section>

        <hr/>

        <section class="schedule">

            <h2>Расписание</h2>

            <div id="group-schedule"></div>

        </section>

        <hr/>

        <section class="teachers">

            <h2>Преподователи</h2>

            <div class="container">

                <div class="row">
                    <div class="teacher row">
                        <div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>
                        <div>
                            <p class="name">Альбина</p>
                            <p class="second-name">Григорьева</p>
                            <p class="classes">Стилистика</p>
                        </div>
                    </div>
                    <div class="teacher row">
                        <div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>
                        <div>
                            <p class="name">Альбина</p>
                            <p class="second-name">Григорьева</p>
                            <p class="classes">Стилистика</p>
                        </div>
                    </div>
                    <div class="teacher row">
                        <div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>
                        <div>
                            <p class="name">Альбина</p>
                            <p class="second-name">Григорьева</p>
                            <p class="classes">Стилистика</p>
                        </div>
                    </div>
                    <div class="teacher row">
                        <div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>
                        <div>
                            <p class="name">Альбина</p>
                            <p class="second-name">Григорьева</p>
                            <p class="classes">Стилистика</p>
                        </div>
                    </div>
                    <div class="teacher row">
                        <div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>
                        <div>
                            <p class="name">Альбина</p>
                            <p class="second-name">Григорьева</p>
                            <p class="classes">Стилистика</p>
                        </div>
                    </div>
                    <div class="teacher row">
                        <div><img src="/img/teacher_pic.jpg" alt="Эльвира Ивановна"/></div>
                        <div>
                            <p class="name">Альбина</p>
                            <p class="second-name">Григорьева</p>
                            <p class="classes">Стилистика</p>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <hr/>

        <section class="lead-button">

            <div class="container">
                <button class="lead red">Записаться</button>
                <p>Наш менеджер свяжется с вами в ближайшие 5 минут</p>
            </div>

        </section>

    </section>

</template>
