<template name="kindergarten">

    <div id="kindergarten-lead" class="custom-modal">

        <div class="body">

            <h2 class="red">ЗАПИСЬ</h2>

            <div class="close-it">&times;</div>

            <form id="form" action="">

                <input id="direction-user-name" type="text" minlength="2" maxlength="50" placeholder="Ваше имя:" required/>
                <input id="direction-user-email" type="email" name="email" maxlength="80" placeholder="Ваш email:" required/>
                <input id="direction-user-phone" name="tel" type="tel" placeholder="Ваше телефон:" required/>

            </form>

            <!--<div class="types">-->

            <!--<div id="day1" class="item">Международный этикет</div>-->
            <!--<div id="day2" class="item">Столовый этикет</div>-->
            <!--<div id="diner" class="item">Гала-ужин</div>-->
            <!--<span style="clear: both; display: block;"></span>-->

            <!--</div>-->

            <button id="send" class="lead">ОТПРАВИТЬ</button>

        </div>

    </div>

    <section id="kindergarten" class="wrap">

        <div class="container">
            <div class="header" data-aura-image-background="kindergarten.mainPic" style="background-image: url(http://d1tvqt3gjtui5j.cloudfront.net/images/{{kindergarten.mainPic}});"></div>
        </div>

        <h1 class="main-header">
            <span>Детский сад</span>
            <span>при Австрийской Высшей Школе Этикета</span>
        </h1>

        <section class="about">

            <div class="container">

                <div class="row">

                    <div>
                        <p data-aura-html="kindergarten.mainDesc" contenteditable="false">{{{kindergarten.mainDesc}}}</p>
                    </div>
                    <aside>
                        <span class="quots">“</span>
                        <span class="quots">“</span>
                        <p data-aura-html="kindergarten.mainQuot" contenteditable="false">{{{kindergarten.mainQuot}}}</p>

                    </aside>

                </div>

            </div>

        </section>

        <section class="content-section">

            <h2 data-aura-html="kindergarten.foodHeader" contenteditable="false">{{{kindergarten.foodHeader}}}</h2>

            <div class="container">

                <div class="row">

                    <div class="col-md-6"><p data-aura-html="kindergarten.foodDesc" contenteditable="false">{{{kindergarten.foodDesc}}}</p></div>

                    <aside class="col-md-6"><img data-aura-image="kindergarten.foodImage" src="{{storagePath}}/images/{{kindergarten.foodImage}}" alt=""/></aside>

                </div>

            </div>

        </section>

        <hr/>

        <section class="content-section">

            <h2 data-aura-html="kindergarten.walkHeader" contenteditable="false">{{{kindergarten.walkHeader}}}</h2>

            <div class="container">

                <div class="row">

                    <aside class="col-md-6"><img data-aura-image="kindergarten.walkImage" src="{{storagePath}}/images/{{kindergarten.walkImage}}" alt=""/></aside>

                    <div class="col-md-6"><p  data-aura-html="kindergarten.walkDesc" contenteditable="false">{{{kindergarten.walkDesc}}}</p></div>

                </div>

            </div>

        </section>

        <hr/>

        <section class="content-section">

            <h2 data-aura-html="kindergarten.dreamHeader" contenteditable="false">{{{kindergarten.dreamHeader}}}</h2>

            <div class="container">

                <div class="row">

                    <div class="col-md-6"><p  data-aura-html="kindergarten.dreamDesc" contenteditable="false">{{{kindergarten.dreamDesc}}}</p></div>

                    <aside class="col-md-6"><img data-aura-image="kindergarten.dreamImage" src="{{storagePath}}/images/{{kindergarten.dreamImage}}" alt=""/></aside>

                </div>

            </div>

        </section>

        <hr/>

        <section class="content-section">

            <h2 data-aura-html="kindergarten.leisureHeader" contenteditable="false">{{{kindergarten.leisureHeader}}}</h2>

            <div class="container">

                <div class="row">

                    <aside class="col-md-6"><img  data-aura-image="kindergarten.leisureImage" src="http://d1tvqt3gjtui5j.cloudfront.net/images/{{kindergarten.leisureImage}}" alt=""/></aside>

                    <div class="col-md-6"><p data-aura-html="kindergarten.leisureDesc" contenteditable="false">{{{kindergarten.leisureDesc}}}</p></div>

                </div>

            </div>

        </section>

        <section class="classes-header">

            <h2 data-aura-html="kindergarten.classesHeader" contenteditable="false">{{{kindergarten.classesHeader}}}</h2>

            <div class="container">

                <div class="row" data-aura-list="kindergarten.classes">

                    {{#each kindergarten.classes}}

                        <div data-aura-list-item>
                            <button class="lead">
                                <div>
                                    <p data-aura-list-html="name">{{{name}}}</p>
                                </div>
                                {{#if userIsAdmin}}
                                    <span class="remove" data-aura-list-remove><i class="fa fa-times"></i></span>
                                {{/if}}
                            </button>
                        </div>

                    {{/each}}

                    {{#if userIsAdmin}}
                        <div>
                            <button id="add-item" class="lead" data-aura-list-add data-aura-sample-text="Новый предмет">
                                <div>
                                    +
                                </div>
                            </button>
                        </div>
                    {{/if}}

                </div>

            </div>

        </section>

        <section class="classes-body">

            <div class="shadow"></div>

            <div class="tab-cont" data-aura-list="kindergarten.classes">

                {{#each kindergarten.classes}}

                    <div class="custom-tab" data-aura-list-item>


                        <h3 data-aura-list-html="name" contenteditable="false">{{{name}}}</h3>

                        <div class="container">

                            <div class="row">

                                <div>
                                    <img data-aura-list-image="pic" src="{{storagePath}}/images/{{pic}}" alt="Новости"/>
                                </div>

                                <div data-aura-list-html="desc" contenteditable="false">
                                    {{{desc}}}
                                </div>

                            </div>

                        </div>

                    </div>

                {{/each}}

            </div>

        </section>

        <section id="hours">

            <div class="container">

                <p>
                    <span data-aura-html="kindergarten.workForYou" contenteditable="false">{{{kindergarten.workForYou}}}</span>
                    <span data-aura-html="kindergarten.workTimes" contenteditable="false">{{{kindergarten.workTimes}}}</span>
                    <span data-aura-html="kindergarten.workEvening" contenteditable="false">{{{kindergarten.workEvening}}}</span>
                    <span data-aura-html="kindergarten.workTip" contenteditable="false">{{{kindergarten.workTip}}}</span>
                </p>

            </div>

        </section>

        <section id="contacts">

            <div class="container">

                <p class="address" data-aura-html="kindergarten.address" contenteditable="false">{{{kindergarten.address}}}</p>
                <div id="map"></div>

                <h4 data-aura-html="kindergarten.callUs" contenteditable="false">{{{kindergarten.callUs}}}</h4>
                <h3 class="phone" data-aura-html="kindergarten.phone" contenteditable="false">{{{kindergarten.phone}}}</h3>
                <h5 data-aura-html="kindergarten.contactsTip" contenteditable="false">{{{kindergarten.contactsTip}}}</h5>


            </div>

            <div class="container">

                <div class="row">

                    <div class="interact">

                        <button id="send-request" class="lead red send-request" data-group="детский сад">Записаться</button>
                        <p data-aura-html="kindergarten.managerTip" contenteditable="false">{{{kindergarten.managerTip}}}</p>
                        <!--<a>Заказать обратный звонок</a>-->
                        <button class="excursion lead send-request" data-group="Экскурсия">Приехать на экскурсию</button>

                    </div>

                </div>

            </div>

        </section>

    </section>

</template>