<template name="kindergarten">

    <div id="kindergarten-lead" class="custom-modal">

        <div class="body">

            <h2 class="red">ЗАПИСЬ</h2>

            <div class="close-it">&times;</div>

            <form id="form" action="">

                <input id="direction-user-name" type="text" minlength="2" maxlength="50" placeholder="Ваше имя:" required/>
                <input id="direction-user-email" type="email" name="email" maxlength="80" placeholder="Ваш email:" required/>
                <input id="direction-user-phone" name="tel" type="tel" placeholder="Ваше телефон:" required/>

            </form>

            <!--<div class="types">-->

            <!--<div id="day1" class="item">Международный этикет</div>-->
            <!--<div id="day2" class="item">Столовый этикет</div>-->
            <!--<div id="diner" class="item">Гала-ужин</div>-->
            <!--<span style="clear: both; display: block;"></span>-->

            <!--</div>-->

            <button id="send" class="lead">ОТПРАВИТЬ</button>

        </div>

    </div>

    <section id="kindergarten" class="wrap">

        <div class="container">
            <div class="header" data-aura-image-background="pic" style="background-image: url(http://d1tvqt3gjtui5j.cloudfront.net/images/kindergarten_1.jpg);"></div>
        </div>

        <h1 class="main-header">
            <span>Детский сад и школа</span>
            <span>при Австрийской Высшей Школе Этикета</span>
        </h1>

        <section class="about">

            <div class="container">

                <div class="row">

                    <div data-aura-html="children.mainDesc" contenteditable="false">
                        <p>Программа Школы этикета новый этап в жизни Вашего малыша, которая даст ребенку знания о том, как необходимо вести себя в обществе, в транспорте в культурно-досуговых местах и за столом. Так же в нашем саду есть уникальная программа по всестороннему развитию Вашего малыша.  ФОТО где дети сидят за столом (по возможности заменить на более качественное фото)</p>
                    </div>
                    <aside>
                        <span class="quots">“</span>
                        <span class="quots">“</span>
                        <p data-aura-html="children.mainQuot" contenteditable="false">Дети должны жить в мире красоты, игры, сказки, музыки, рисунка, фантазии, творчества.</p>

                    </aside>

                </div>

            </div>

        </section>


        <section id="food" class="content-section">

            <h2>Здоровое питание, прогулки и сон</h2>

            <div class="container">

                <div class="row">

                    <div class="col-md-6"><p> Важный элемент в жизни малыша. У нас только здоровое и сбалансированное питание, одобренное педиатрами и диетологами.  Мы учитываем все особенности каждого ребенка. Даже детям с особой диетой или аллергией будет у нас очень комфортно, ведь для них мы составим специальное меню.  Наш сад находиться на территории, где всегда чистый воздух, лес, хорошо оборудованная детская площадка.</p></div>

                    <aside class="col-md-6"><img src="{{storagePath}}/images/kindergarten_3.png" alt=""/></aside>

                </div>

            </div>

        </section>

        <section id="food" class="content-section">

            <h2>Досуг</h2>

            <div class="container">

                <div class="row">

                    <aside class="col-md-6"><img src="http://d1tvqt3gjtui5j.cloudfront.net/images/kindergarten_2.png" alt=""/></aside>

                    <div class="col-md-6"><p>А чтобы ребенок знал что такое настоящий праздник и волшебство, мы регулярно организуем детские вечеринки, на которых малыши закрепляют полученный материал во время обучения , развлекаются и принимают сказочных гостей.</p></div>

                </div>

            </div>

        </section>

        <section id="hours">

            <div class="container">

                <p>
                    <span>Мы работаем для вас:</span>
                    <span>с понедельника по пятницу с <strong>8 до 19</strong></span>
                    <span>вечерние группы - до <strong>23:00</strong></span>
                    <span>Так же Вы можете оставить ребенка у нас на ночь, где заботливая и добрая няня уложит малыша спать и прочитает ему сказку</span>
                </p>

            </div>

        </section>

        <section id="contacts">

            <div class="container">

                <p class="address">Наш адрес: Зеленогорский р-он, п. Ильичево 3 Подъездная ул. 15</p>
                <div id="map"></div>

                <h4>Звоните нам:</h4>
                <h3 class="phone">+7 (905) 545-54-54</h3>
                <h5>Мы с удовольствием ответим на все интересующие вас вопросы</h5>


            </div>

            <div class="container">

                <div class="row">

                    <div class="interact">

                        <button id="send-request" class="lead red send-request" data-group="детский сад">Записаться</button>
                        <p>Наш менеджер свяжется с вами в ближайшее время</p>
                        <!--<a>Заказать обратный звонок</a>-->
                        <button class="excursion lead send-request" data-group="Экскурсия">Приехать на экскурсию</button>

                    </div>

                </div>

            </div>

        </section>

    </section>

</template>