<template name="gallery">

    <div id="gallery" class="wrap">
        <section class="main-pic" data-stellar-background-ratio=".7">

            <div class="shadow"></div>

            <div class="container">

                <div class="pic-container">

                    <div class="arrows">
                        <button></button>
                        <button></button>
                    </div>

                    <img src="/img/slider_1.jpg" alt="Слайдер номер один"/>

                    <h3>
                        <span>22.11.2014</span>
                        <span>Вечеринка в честь нового года</span>
                    </h3>

                </div>

            </div>

        </section>

        <section class="list-pics">

            <div class="carousel-container">

                <div class="_active" style="background-image: url(/img/slider_1.jpg);"></div>
                <div style="background-image: url(/img/slider_2.jpg);"></div>
                <div style="background-image: url(/img/slider_3.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>
                <div style="background-image: url(/img/slider_4.jpg);"></div>

            </div>

        </section>

        <hr/>


        <section class="list-albums">

            <h2>Все альбомы</h2>

            <div class="container">
                <div id="masonry-cont">

                    <div class="item">
                        <div><img src="/img/news.jpg" alt=""/>
                            <h5>22.11.2014</h5>
                        </div>
                        <h4>
                            Вечеринка в честь нового года
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem expedita saepe?</p>
                    </div>

                    <div class="item">
                        <div><img src="/img/event.jpg" alt=""/>
                            <h5>22.11.2014</h5>
                        </div>
                        <h4>
                            Вечеринка в честь
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    </div>

                    <div class="item">
                        <div><img src="/img/news.jpg" alt=""/>
                            <h5>22.11.2014</h5>
                        </div>
                        <h4>
                            Вечеринка в честь нового года и Рождества
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae cumque, earum iusto
                            necessitatibus quam repudiandae!</p>
                    </div>

                    <div class="item">
                        <div><img src="/img/slider_3.jpg" alt=""/>
                            <h5>22.11.2014</h5>
                        </div>
                        <h4>
                            Вечеринка
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>

                    <div class="item">
                        <div><img src="/img/slider_1.jpg" alt=""/>
                            <h5>22.11.2014</h5>
                        </div>
                        <h4>
                            Вечеринка в честь нового
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem expedita saepe?</p>
                    </div>

                    <div class="item">
                        <div><img src="/img/teacher_pic.jpg" alt=""/>
                            <h5>22.11.2014</h5>
                        </div>
                        <h4>
                            Вечеринка в честь нового года
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam </p>
                    </div>

                    <div class="item">
                        <div><img src="/img/news.jpg" alt=""/>
                            <h5>22.11.2014</h5>
                        </div>
                        <h4>
                            Вечеринка в честь Хеллоуина
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem expedita saepe?</p>
                    </div>

                    <div class="item">
                        <div><img src="/img/event.jpg" alt=""/>
                            <h5>22.11.2014</h5>
                        </div>
                        <h4>
                            Вечеринка в честь просто так вечеринка
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem </p>
                    </div>

                </div>
            </div>
        </section>
    </div>

</template>