<template name="gallery">

    <div id="gallery" class="wrap">
        <!--<section class="main-pic" data-stellar-background-ratio=".7">-->

        <!--<div class="shadow"></div>-->

        <!--<div class="container">-->

        <!--<div class="pic-container">-->

        <!--<div class="arrows">-->
        <!--<button></button>-->
        <!--<button></button>-->
        <!--</div>-->

        <!--<img src="/img/slider_1.jpg" alt="Слайдер номер один"/>-->

        <!--<h3>-->
        <!--<span>22.11.2014</span>-->
        <!--<span>Вечеринка в честь нового года</span>-->
        <!--</h3>-->

        <!--</div>-->

        <!--</div>-->

        <!--</section>-->

        <!--<section class="list-pics">-->

        <!--<div class="carousel-container">-->

        <!--<div class="_active" style="background-image: url(/img/slider_1.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_2.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_3.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->
        <!--<div style="background-image: url(/img/slider_4.jpg);"></div>-->

        <!--</div>-->

        <!--</section>-->

        {{#with auraGalleryCurrentAlbum}}

        <section class="main-pic" data-stellar-background-ratio=".7">

            <div class="shadow"></div>

            <div class="container">

                <div class="pic-container">

                    <div class="arrows">
                        <button id="auraGalleryPrevPic"></button>
                        <button id="auraGalleryNextPic"></button>
                    </div>

                    <div class="pic-wrap">
                        <h3>
                            <span>{{date}}</span>
                            <span>{{title}}</span>
                        </h3>

                        <img src="{{storagePath}}/gallery/{{auraGalleryCurrentPic}}" alt="{{title}}"/>

                    </div>

                </div>

            </div>

        </section>

        <section class="list-pics">

            <div class="carousel-container">

                {{#each pics}}
                <div style="background-image: url({{storagePath}}/gallery/{{auraGalleryGetThumb this}});"
                     data-gallery-pic-target="{{this}}"></div>
                {{/each}}

            </div>

        </section>

        {{/with}}


        <hr/>


        <section class="list-albums">

            <h2>Все альбомы</h2>

            <div class="container">
                <div id="masonry-cont">

                    {{#each auraGalleryListAlbums}}

                    <div class="item" data-gallery-album-target="{{_id}}">
                        <div><img src="{{storagePath}}/gallery/{{titlePic}}" alt="{{title}}"/>
                            <h5>{{date}}</h5>
                        </div>
                        <h4>
                            {{{title}}}
                        </h4>

                        <p>{{desc}}</p>
                    </div>

                    {{/each}}

                </div>
            </div>
        </section>
    </div>

</template>