<template name="lessons">
  <div class="lessons">
    <div class="container">
      <div class="lesson">
        <h2><span>1</span><span>Лекция</span></h2>
        <h1>Столовый этикет с графиней Марии де Тилли</h1>
        <div class="video">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <iframe src="https://play.boomstream.com/player.html?code=RtCEOq0w" frameborder="0" scrolling="no" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>Графиня расскажет все о тонкостях столового этикет и эти знания останутся с Вами на всю жизнь. Вы будете абсолютно уверенно чувствовать себя на деловом обеде, приеме и гала-ужине. Вы будете безукоризненно выглядеть за столом не только на свадьбе или ужине, но и на протокольном приеме. Не лишайте себя такого преимущества!</p>
          </div>
        </div>
        <hr>
      </div>
      <div class="lesson">
        <h2><span>2</span><span>Лекция</span></h2>
        <h1>Светский этикет с графиней Марии де Тилли</h1>
        <div class="video">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <iframe src="https://play.boomstream.com/player.html?code=4u0bLBe7" frameborder="0" scrolling="no" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>На любом светском мероприятии, будь то фуршет, коктейль или благотворительный бал, нам необходимо соблюдать определенные манеры и правила поведения. В ходе данного мастер-класса вы узнаете все о главных правилах выхода в свет. Графиня расскажет как подобрать правильный образ, соответствуя заявленному дресс-коду. Вы освоите искусство ведения светской беседы, узнаете правила представления и знакомства. Вам выпадет шанс раскрыть для себя все секреты истинной леди. Для вас не останется загадкой, как наилучшим образом оставить о себе благоприятное впечатление, и создать образ элегантной женщины.</p>
          </div>
        </div>
        <hr>
      </div>
      <div class="lesson">
        <h2><span>3</span><span>Лекция</span></h2>
        <h1>Элегантность манер с графиней Марии де Тилли</h1>
        <div class="video">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <iframe src="https://play.boomstream.com/player.html?code=RL7ELS58" frameborder="0" scrolling="no" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>"У элегантности не громкий голос".
              Графиня расскажет как выглядит элегантная женщина, и самое главное, как ей стать. Возможно ли обучится элегантности манер, так что бы это смотрелось естественно? Графиня затронет следующие темы: элегантные позы за столом, изящество движений, правила красивого обращения с предметами и столовыми приборами. Внешний вид истинной леди. Что допускается делать за столом, что категорически запрещено. Общение с гостями и официантом. Как звучит голос элегантной женщины. (секреты и упражнения).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>