<template name="blogPage">

    <section id="blog-page" class="wrap" data-aura-with="{{_id}}" data-aura-collection="blog" data-aura-index="_id">
        <div class="container">
            <div class="header" data-aura-with-image-background="pic" style="background-image: url({{storagePath}}/images/{{pic}})" data-stellar-background-ratio=".7">
                <h3>
                    <div class="container">
                        <span>{{getBlogDate date}}</span>
                        <span data-aura-with-html="title" contenteditable="false">{{{title}}}</span>
                    </div>
                </h3>
            </div>
        </div>
        <button class="arrows left" data-aura-blog-prev><i class="fa fa-angle-left"></i></button>
        <button class="arrows right" data-aura-blog-next><i class="fa fa-angle-right"></i></button>
        <div class="container body">
            <div class="row">
                <div>
                    <div data-aura-with-html="html" contenteditable="false">
                        {{{html}}}
                    </div>
                    <div class="comments">
                        <script type="text/javascript">
                            VK.init({apiId: 4651140, onlyWidgets: true, pageId: {{getPageId}} });
                        </script>

                        <!-- Put this div tag to the place, where the Comments block will be -->
                        <div id="vk_comments"></div>
                        <script type="text/javascript">
                            VK.Widgets.Comments("vk_comments", {limit: 10, width: "720", attach: "*"});
                        </script>
                    </div>
                </div>
                <aside>
                    <h4>Категория:</h4>
                    <h3>{{category}}</h3>
                    {{#if userIsAdmin}}
                    <h4>Изменить категорию:</h4>
                    <select name="" id="cat-select" data-aura-instant-select="blog.{{_id}}.category">
                        <option value="-">изменить категорию</option>
                        {{#each blogCategories}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                    {{/if}}

                    {{#if tags}}
                    <h4>Теги:</h4>

                    <ul class="tags-list">
                        {{#each tags}}
                        <li data-tag-id="{{this}}">{{getTagName this}}
                            {{#if userIsAdmin}}
                            <div class="remove" data-aura-blog-remove-tag><i class="fa fa-times"></i></div>
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}

                    {{#if userIsAdmin}}

                        <div class="add-tag">
                            {{> inputAutocomplete settings=settings id="aura-blog-add-tag" class="aura-input input-white" placeholder="Добавить тег"}}
                        </div>

                        <h4>Ссылка</h4>
                        <input id="aura-alias-input" class="aura-input input-white" type="text" value="{{alias}}"  data-aura-instant-input="blog.{{_id}}.alias"/>
                    {{/if}}

                    {{#if userIsAdmin}}
                    <h4>Короткое описание</h4>
                    <p class="short-desc" data-aura-with-html="shortDesc" contenteditable="false">{{{shortDesc}}}</p>
                    {{/if}}

                    <h4>Рекомендации:</h4>

                    <div class="item" data-alias="{{alias}}" data-goto-blog-page>
                        <h4>22.04.2014</h4>
                        <h3>Еще статья</h3>
                        <p data-blog-html="shortDesc">Короткое описание, все круто, но надо заполнять самому</p>
                    </div>

                    <div class="item" data-alias="{{alias}}" data-goto-blog-page>
                        <h4>22.04.2014</h4>
                        <h3>Еще статья</h3>
                        <p data-blog-html="shortDesc">Короткое описание, все круто, но надо заполнять самому</p>
                    </div>

                    <div class="item" data-alias="{{alias}}" data-goto-blog-page>
                        <h4>22.04.2014</h4>
                        <h3>Еще статья</h3>
                        <p data-blog-html="shortDesc">Короткое описание, все круто, но надо заполнять самому</p>
                    </div>

                </aside>
            </div>

        </div>
    </section>

</template>


<template name="tagAutocomplete">

    <p>{{name}}</p>

</template>