<template name="blog">

    <section id="blog" class="wrap">

        <div class="shadow"></div>

        <h2>Блог</h2>

        <div class="container">
            <div class="row">

                <aside>

                    <h4>Категория:</h4>

                    <select id="selectBlogCategory" data-select-bloglist-category>
                        <option value="all">Все категории</option>
                        {{#each blogCategories}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>

                    <h4>Сортировать по:</h4>

                    <select data-select-bloglist-sort>
                        <option value="date">Дате</option>
                        <option value="category">Категориям</option>
                    </select>

                    <h4>Теги:</h4>

                    <div id="tags-cont"></div>

                </aside>

                <div class="blog-cont">

                    {{#each blogList}}

                    <article class="item">

                        <div class="thumbnail" data-alias="{{alias}}" data-goto-blog-page>
                            {{#if userIsAdmin}}
                            <button class="remove"><i class="fa fa-times"></i></button>
                            {{/if}}

                            <div class="img" data-blog-image-background="pic" style="background-image: url({{storagePath}}/images/{{pic}})">
                                <h3>{{{title}}}</h3>
                            </div>
                            <h4>{{getBlogDate date}}</h4>
                            <p data-blog-html="shortDesc">{{{shortDesc}}}</p>
                        </div>

                    </article>

                    {{/each}}

                    {{#if userIsAdmin}}

                    <article class="add-new">

                        <div class="thumbnail" data-add-new-blog-page>

                            <div>+</div>

                        </div>

                    </article>

                    {{/if}}

                    <!--<button data-blog-load-more>-->
                        <!--<div>загрузить еще..</div>-->
                    <!--</button>-->

                </div>

            </div>
        </div>

    </section>

</template>



