<template name="blog">

    <section id="blog" class="wrap">

        <div class="shadow"></div>

        <h2>Блог</h2>

        <div class="container">
            <div class="row">

                <aside>

                    <h4>Категория:</h4>

                    <select name="" id="">
                        <option>Все категории</option>
                        <option>О школе</option>
                        <option>Из жизни</option>
                        <option>Интересное</option>
                    </select>

                    <h4>Сортировать по:</h4>

                    <select name="" id="">
                        <option>Дате</option>
                        <option>Категориям</option>
                        <option>Тегам</option>
                    </select>

                    <h4>Теги:</h4>

                    <div id="tags-cont"></div>

                </aside>

                <div class="blog-cont">

                    {{#each blogList}}

                    <article class="item">

                        <div class="thumbnail" data-alias="{{alias}}" data-goto-blog-page>
                            {{#if isInRole 'admin' 'blog'}}
                            <button class="remove"><i class="fa fa-times"></i></button>
                            {{/if}}

                            <div class="img" data-blog-image-background="pic" style="background-image: url({{storagePath}}/images/{{pic}})">
                                <h3>{{{title}}}</h3>
                            </div>
                            <h4>{{getBlogDate date}}</h4>
                            <p data-blog-html="shortDesc">{{{shortDesc}}}</p>
                        </div>

                    </article>

                    {{/each}}

                    {{#if isInRole 'admin' 'owner' 'blog'}}

                    <article class="add-new">

                        <div class="thumbnail" data-add-new-blog-page>

                            <div>+</div>

                        </div>

                    </article>

                    {{/if}}

                    <button data-blog-load-more>
                        <div>загрузить еще..</div>
                    </button>

                </div>

            </div>
        </div>

    </section>

</template>



