<template name="blog">

    <section id="blog" class="wrap" data-stellar-background-ratio=".4">

        <div class="container">
            <div class="row">

                <aside class="blog-nav" >

                    <ul class="nav">
                        <li class="active"><a href="#f">Привет братцы</a><div></div></li>
                        <li><a href="#s">как дела</a><div></div></li>
                        <li><a href="#t">Передаю вам пламенный привет</a><div></div></li>
                    </ul>

                    <div class="tags"></div>

                </aside>

                <div class="blog-cont"  data-spy="scroll" data-target=".blog-nav">

                    <article id="f">

                        <h3>Живопись начала XX века</h3>
                        <h5>22.11.2014</h5>
                        <img src="/img/slider_1.jpg" alt="Статья"/>
                        <p class="bold">Как представиться. Как поприветствовать. Как попрощаться. В столовом этикете малыши будут изучать роль каждого столового прибора. И учиться пить чай по книгам Льюиса Кэролла. Основные темы – столовый этикет и этикет общения. Программа этикета и хороших манер поможет развить устойчивые поведенческие навыки, которые позволят в дальнейшем чувствовать себя уверенно в любой ситуации, связанной с  общением. </p>
                        <p>Как представиться. Как поприветствовать. Как попрощаться. В столовом этикете малыши будут изучать роль кажьюиса Кэролла. Основные темы – столовый этикет и этикет общения. Программа этикета и хороших манер поможет развить устойчивые поведенческие навыки, которые позволят в дальнейшем чувствовать себя уверенно в любой ситуации, связанной с  общением. </p>
                        <p>В столовом этикете малыши будут изучать роль каждого столового прибора. И учиться пить чай по книгам Льюиса Кэролла. Основные темы – столовый этикет и этикет общения. Программа этикета и хороших манер поможет развить устойчивые поведенческие навыки, которые позволят в дальнейшем чувствовать себя уверенно в любой ситуации, связанной с  общением. </p>
                        <div class="tags">
                            <button class="lead tag">ЖИВОПИСЬ</button>
                            <button class="lead tag">СЕРЕБРЯНЫЙ ВЕК</button>
                            <button class="lead tag">ЭСТЕТИКА</button>
                        </div>


                    </article>

                    <article id="s">


                    </article>

                    <article id="t">


                    </article>

                </div>

            </div>
        </div>

    </section>

</template>