<template name="news">
 	<section id="news">

        <div class="container">

            <h2>НОВОСТИ</h2>

            <div class="row">

                {{#each news}}

                <div class="item" data-id="{{_id}}">
                    <div class="thumbnail">
                        {{#if userIsAdmin}}
                        <button class="remove"><i class="fa fa-times"></i></button>
                        {{/if}}
                        <div class="img" style="background-image: url({{storagePath}}/images/{{pic}})">
                            <h3>{{{title}}}</h3>
                        </div>
                        <h4>{{getBlogDate date}}</h4>

                        <p>{{{shortDesc}}}</p>
                    </div>
                </div>

                {{/each}}

                {{#if userIsAdmin}}

                <div class="item add-new">

                    <div class="thumbnail" data-add-news-item>

                        <div>+</div>

                    </div>

                </div>

                {{/if}}

            </div>

        </div>

 	</section>
</template>


<template name="newsItemOpened">

    <div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-aura-collection="news" data-aura-with="{{_id}}" data-aura-index="_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{getBlogDate date}}</h4>
                </div>
                <div class="modal-body">

                        <div class="img" data-aura-with-image-background="pic" style="background-image: url({{storagePath}}/images/{{pic}})">

                            <h3 data-aura-with-html="title" contenteditable="false">{{{title}}}</h3>

                        </div>

                        <p data-aura-with-html="mainDesc" contenteditable="false">{{{mainDesc}}}</p>

                        {{#if userIsAdmin}}

                        <div class="checkbox-cont">
                            <input type="checkbox" data-aura-instant-checkbox="news.{{_id}}.mainPage" {{auraCheckboxIsChecked mainPage}}/> <span>на главную</span>
                            <input type="date" value="{{getEventInputDate date}}" data-aura-instant-input="news.{{_id}}.mainPage"/>
                            <p data-aura-with-html="shortDesc" contenteditable="false">{{{shortDesc}}}</p>
                        </div>

                        {{/if}}
                    </div>

            </div>
        </div>
    </div>

</template>