<template name="news">
 	<section id="news">

        <div class="container">

            <h2>НОВОСТИ</h2>

            <div class="row">

                {{#each news.news}}

                <div class="item" data-alias="{{alias}}">
                    <div class="thumbnail">
                        <div class="img" style="background-image: url({{storagePath}}/images/{{pic}})">
                            <h3>{{title}}</h3>
                        </div>
                        <h4>{{date}}</h4>

                        <p>{{{desc}}}</p>
                    </div>
                </div>

                {{/each}}

            </div>

        </div>

 	</section>
</template>


<template name="currentNew">

    <div class="wrap">

        <div class="img">

            <img src="{{storagePath}}/images/{{pic}}" alt=""/>

            <h3>{{title}}</h3>

        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda blanditiis dolor ea illo magni maxime molestiae ratione sint tempore?</p>
    </div>

</template>