<template name="innerLayout">

    <header class="inner">

        <div class="container">

            <a href="/" class="logo"><img src="/img/logo_small.jpg" alt="Austrian Higher school of Ladies"/></a>
            <div class="social small">
                <a href="http://vk.com"><i class="fa fa-vk"></i></a>
                <a href="http://facebook.com"><i class="fa fa-facebook"></i></a>
                <a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
                <a href="http://instagram.com"><i class="fa fa-instagram"></i></a>
            </div>
            <p class="phone">(812) 984-30-88</p>

        </div>

    </header>

    <div class="fixed-nav-cont">

        <nav class="fixed-nav">

            <div class="container">
                <a href="/">Главная</a><span>|</span>
                <a href="/direction">Направления</a><span>|</span>
                <a href="">События</a><span>|</span>
                <a href="">Расписание</a><span>|</span>
                <a href="/gallery">Галерея</a><span>|</span>
                <a href="/blog">Блог</a><span>|</span>
                <a href="/contacts">Контакты</a>
            </div>

        </nav>

    </div>

    {{>yield}}

    <footer>

        <div class="container">

            <div class="row links">

                <div>
                    <a href="">ссылочка</a>
                    <a href="">ссылочка</a>
                    <a href="">ссылочка</a>
                    <a href="">ссылочка</a>
                </div>
                <div>
                    <a href="">ссылочка</a>
                    <a href="">ссылочка</a>
                    <a href="">ссылочка</a>
                </div>
                <div>
                    <a href="">ссылочка</a>
                    <a href="">ссылочка</a>
                    <a href="">ссылочка</a>
                    <a href="">ссылочка</a>
                </div>
                <div>
                    <a href="">ссылочка</a>
                    <a href="">ссылочка</a>
                    <a href="">ссылочка</a>
                </div>

            </div>

            <div class="bottom-info">

                <p class="disclaimer"><span><strong>2012-2014</strong> Austrian Higher School of Ladies. </span> Все права защищены.</p>

                <div class="contacts-footer">
                    <span>(812) 984-30-88</span>
                    <span>info@sisi-elizabeth.com</span>
                </div>

                <div class="social huge">
                    <a href="http://vk.com"><i class="fa fa-vk"></i></a>
                    <a href="http://facebook.com"><i class="fa fa-facebook"></i></a>
                    <a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
                    <a href="http://instagram.com"><i class="fa fa-instagram"></i></a>
                </div>

            </div>

        </div>


    </footer>


</template>



