<template name="auraRequestsModal">

    <div id="aura-requests-modal" class="auraModal">

        <div class="close-modal"><i class="fa fa-times"></i></div>

        <div class="header">

            <h3>Заявки</h3>

        </div>

        <div class="body">

            <aside>

                <div class="rdo _active" data-value="all">
                    <div><div></div></div>
                    <p>Все ({{allRequests}})</p>
                </div>

                <div class="rdo" data-value="error">
                    <div><div></div></div>
                    <p>Отмененные ({{errorRequests}})</p>
                </div>

                <div class="rdo" data-value="recall">
                    <div><div></div></div>
                    <p>Отложенные ({{recallRequests}})</p>
                </div>

                <div class="rdo" data-value="success">
                    <div><div></div></div>
                    <p>Успешные ({{successRequests}})</p>
                </div>

                <h3>Новых: <strong>{{newRequests}}</strong></h3>

            </aside>

            <div class="list-wrap">

                <ul>
                    {{#each requests}}
                    <li data-id="{{_id}}" class="{{#if isWatched status}}{{else}}_unwatched{{/if}}">
                        <div class="heading">
                            <div class="status-stripe {{status}}"></div>
                            <div>
                                <p class="date">{{getDate date}}</p>
                                <div class="status">
                                    <button data-status="error" class="{{isActive status 'error'}}"><i class="fa fa-times"></i></button>
                                    <button data-status="recall" class="{{isActive status 'recall'}}"><i class="fa fa-repeat"></i></button>
                                    <button data-status="success" class="{{isActive status 'success'}}"><i class="fa fa-check"></i></button>
                                </div>
                            </div>
                            <p class="title">{{event}}</p>

                        </div>
                        <div class="info">
                            <div>
                                <div>Имя:</div>
                                <div>{{name}}</div>
                            </div>
                            <div>
                                <div>E-mail:</div>
                                <div>{{showEmail email}}</div>
                            </div>
                            <div>
                                <div>Телефон:</div>
                                <div>{{phone}}</div>
                            </div>
                            <div>
                                <div>Сумма:</div>
                                <div>{{amount}}</div>
                            </div>
                            <div>
                                <div>Способ:</div>
                                <div>{{type}}</div>
                            </div>
                            <div>
                                <div>Оплата:</div>
                                <div>{{isPayed paymentStatus}}</div>
                            </div>

                        </div>
                    </li>
                    {{/each}}
                </ul>
                <button class="load-more">Загрузить еще..</button>

            </div>

        </div>


    </div>
    
</template>