<template name="blogCreateModal">

    <div id="blog-create-modal">
        <div class="remove"><i class="fa fa-times"></i></div>
        <h3>Добавить запись</h3>
        <input type="text" placeholder="ссылка"/>
        <select name="" id="blogCreateCategory">
            <option value="*">Выберите категорию</option>
            <option value="*">О школе</option>
            <option value="*">Интересное</option>
            <option value="*">Остальное</option>
        </select>
        <button>создать</button>
    </div>

</template>