<template name="eventCreateModal">

    <div id="event-create-modal">
        <div class="remove"><i class="fa fa-times"></i></div>
        <h3>Добавить событие</h3>
        <input id="event-alias" type="text" placeholder="ссылка"/>
        <input id="event-title" type="text" placeholder="заголовок"/>
        <input id="event-date" type="date"/>
        <button>создать</button>
    </div>

</template>


<template name="newsItemCreateModal">

    <div id="news-item-create-modal">
        <div class="remove"><i class="fa fa-times"></i></div>
        <h3>Добавить новость</h3>
        <input id="news-item-title" type="text" placeholder="заголовок"/>
        <input id="news-item-date" type="date"/>
        <button>создать</button>
    </div>

</template>