<template name="mailingModal">

    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Новое письмо</h3>
                    <div id="mailing-bases-cont"></div>
                    <input class="aura-input" id="mailing-name" type="text" placeholder="Название рассылки"/>
                    <input class="aura-input" id="mailing-subject" type="text" placeholder="Тема рассылки"/>
                    <input class="aura-input" data-aura-instant-input="auraPages.email.link" data-aura-index="name" value="{{mailing.link}}" type="text" placeholder="Ссылка"/>
                </div>
                <div class="modal-body">
                    {{>email}}
                </div>
                <div class="modal-footer">

                    <button id="send" class="lead">Отправить рассылку</button>

                    <p>Не забудьте проверить статус модерационной проверки!</p>

                </div>
            </div>
        </div>
    </div>

</template>