<template name="events">

    <section id="events">

        <div class="shadow"></div>

        <h2>Ближайшие события</h2>

        <div class="container">
            <div id="masonry-cont">

                <div class="item">
                    <div><img src="/img/news.jpg" alt=""/>
                        <h5>22.11.2014</h5>
                    </div>
                    <h4>
                        Вечеринка в честь нового года
                    </h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem expedita saepe?</p>
                </div>

                <div class="item">
                    <div><img src="/img/event.jpg" alt=""/>
                        <h5>22.11.2014</h5>
                    </div>
                    <h4>
                        Вечеринка в честь
                    </h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                </div>

                <div class="item">
                    <div><img src="/img/news.jpg" alt=""/>
                        <h5>22.11.2014</h5>
                    </div>
                    <h4>
                        Вечеринка в честь нового года и Рождества
                    </h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae cumque, earum iusto
                        necessitatibus quam repudiandae!</p>
                </div>

                <div class="item">
                    <div><img src="/img/slider_3.jpg" alt=""/>
                        <h5>22.11.2014</h5>
                    </div>
                    <h4>
                        Вечеринка
                    </h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

                <div class="item">
                    <div><img src="/img/slider_1.jpg" alt=""/>
                        <h5>22.11.2014</h5>
                    </div>
                    <h4>
                        Вечеринка в честь нового
                    </h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem expedita saepe?</p>
                </div>

                <div class="item">
                    <div><img src="/img/teacher_pic.jpg" alt=""/>
                        <h5>22.11.2014</h5>
                    </div>
                    <h4>
                        Вечеринка в честь нового года
                    </h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam </p>
                </div>

                <div class="item">
                    <div><img src="/img/news.jpg" alt=""/>
                        <h5>22.11.2014</h5>
                    </div>
                    <h4>
                        Вечеринка в честь Хеллоуина
                    </h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem expedita saepe?</p>
                </div>

                <div class="item">
                    <div><img src="/img/event.jpg" alt=""/>
                        <h5>22.11.2014</h5>
                    </div>
                    <h4>
                        Вечеринка в честь просто так вечеринка
                    </h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem </p>
                </div>

            </div>
        </div>

    </section>

</template>