<template name="contacts">

    <section id="contacts" class="wrap">

        <div id="map">
        </div>

        <section class="all-contacts">

            <div class="container">
                <div class="row">
                    <div>
                        <h4><i class="fa fa-phone"></i> Телефон:</h4>
                        <p>(812) 343-34-34</p>
                        <p>(812) 876-31-31</p>
                    </div>
                    <div>
                        <h4><i class="fa fa-envelope"></i> E-mail:</h4>
                        <p>ladiesschool@me.com - <span>менеджер</span></p>
                        <p>ladiesschool@me.com - <span>для записи</span></p>
                    </div>
                    <div>
                        <h4><i class="fa fa-map-marker"></i> Адрес:</h4>
                        <p>Санкт-Петербург, Суворовский пр. 34, Austrian Higher School of Ladies</p>
                    </div>
                </div>
            </div>

        </section>

        <section class="final">

            <div class="container">

                <p>По всем вопросам звоните:</p>
                <h2>(812) 345-45-45</h2>
                <p>Либо оставьте нам заявку, и мы свяжемся с вами в ближайшее время:</p>
                <button class="lead">Записаться</button>

            </div>

        </section>

    </section>

</template>