<template name="contacts">

    <section id="contacts" class="wrap">

        <div class="loading-map">
            {{>spinner}}

        </div>

        <div id="map">
        </div>

        <section class="all-contacts">

            <div class="container">
                <div class="row">
                    <div>
                        <h4><i class="fa fa-phone"></i> <span data-aura-html="contacts.phoneHeader" contenteditable="false">{{{contacts.phoneHeader}}}</span></h4>
                        <p data-aura-html="common.phoneMain" contenteditable="false">{{{common.phoneMain}}}</p>
                        <p data-aura-html="common.phoneSecond" contenteditable="false">{{{common.phoneSecond}}}</p>
                    </div>
                    <div>
                        <h4><i class="fa fa-envelope"></i> <span data-aura-html="contacts.emailHeader" contenteditable="false">{{{contacts.emailHeader}}}</span></h4>
                        <p data-aura-html="contacts.emailMain" contenteditable="false">{{{contacts.emailMain}}}</p>
                        <p data-aura-html="contacts.emailSecondary" contenteditable="false">{{{contacts.emailSecondary}}}</p>
                    </div>
                    <div>
                        <h4><i class="fa fa-map-marker"></i> <span data-aura-html="contacts.addressHeader" contenteditable="false">{{{contacts.addressHeader}}}</span></h4>
                        <p data-aura-html="common.address" contenteditable="false">{{{common.address}}}</p>
                    </div>
                </div>
            </div>

        </section>

        <section class="final">

            <div class="container">

                <p data-aura-html="contacts.allQuestions" contenteditable="false">{{{contacts.allQuestions}}}</p>
                <h2 data-aura-html="common.phoneMain" contenteditable="false">{{{common.phoneMain}}}</h2>
                <p data-aura-html="contacts.weWillContactU" contenteditable="false">{{{contacts.weWillContactU}}}</p>
                <button class="lead">Записаться</button>

            </div>

        </section>

    </section>

</template>