<template name="contacts">

    <section id="contacts" class="wrap">

        <div class="loading-map">
            {{>spinner}}

        </div>

        <div id="map">
        </div>

        <section class="all-contacts">

            <div class="container">
                <div class="row">
                    <div>
                        <h4><i class="fa fa-phone"></i> <span data-aura-html="contacts.phoneHeader" contenteditable="false">{{{contacts.phoneHeader}}}</span></h4>
                        <p data-aura-html="common.phoneMain" contenteditable="false">{{{common.phoneMain}}}</p>
                        <p data-aura-html="common.phoneSecond" contenteditable="false">{{{common.phoneSecond}}}</p>
                    </div>
                    <div>
                        <h4><i class="fa fa-envelope"></i> <span data-aura-html="contacts.emailHeader" contenteditable="false">{{{contacts.emailHeader}}}</span></h4>
                        <p data-aura-html="contacts.emailMain" contenteditable="false">{{{contacts.emailMain}}}</p>
                        <p data-aura-html="contacts.emailSecondary" contenteditable="false">{{{contacts.emailSecondary}}}</p>
                    </div>
                    <div>
                        <h4><i class="fa fa-map-marker"></i> <span data-aura-html="contacts.addressHeader" contenteditable="false">{{{contacts.addressHeader}}}</span></h4>
                        <p data-aura-html="common.address" contenteditable="false">{{{common.address}}}</p>
                    </div>
                </div>
            </div>

        </section>

        <section class="final">

            <div class="container">

                <p data-aura-html="contacts.allQuestions" contenteditable="false">{{{contacts.allQuestions}}}</p>
                <h2 data-aura-html="common.phoneMain" contenteditable="false">{{{common.phoneMain}}}</h2>
                <p data-aura-html="contacts.weWillContactU" contenteditable="false">{{{contacts.weWillContactU}}}</p>
                <button class="lead">Записаться</button>

            </div>

        </section>

    </section>

    <div id="contacts-lead" class="custom-modal">

        <div class="body">

            <h2 class="red">ЗАПИСЬ</h2>

            <div class="close-it">&times;</div>

            <form id="form" action="">

                <input id="contacts-user-name" type="text" minlength="2" maxlength="50" placeholder="Ваше имя:" required/>
                <input id="contacts-user-email" type="email" name="email" maxlength="80" placeholder="Ваш email:" required/>
                <input id="contacts-user-phone" name="tel" type="tel" placeholder="Ваше телефон:" required/>

            </form>

            <!--<div class="types">-->

            <!--<div id="day1" class="item">Международный этикет</div>-->
            <!--<div id="day2" class="item">Столовый этикет</div>-->
            <!--<div id="diner" class="item">Гала-ужин</div>-->
            <!--<span style="clear: both; display: block;"></span>-->

            <!--</div>-->

            <button id="send" class="lead" data-title="title">ОТПРАВИТЬ</button>

        </div>

    </div>

    <div class="modal-overlay"></div>

    <div class="sccss">
        <div class="body">
            <h3 class="red">
                Ваша заявка отправлена!
            </h3>
            <h4>Мы свяжемся с вами в ближайшее время</h4>
        </div>

    </div>

</template>